<template>
  <px-overlay ref="overlay" :content-classes="['px-bookmark-editor', 'px-form-vertical']">
    <template v-slot:header>
      {{capitalizedMode}} a bookmark for {{path}}
    </template>
    <px-text-field
        label="Bookmark name"
        v-model:value="name">
    </px-text-field>
    <px-switch label="Monitor" v-model:value="monitor" />
    <px-switch label="Download posts automatically" v-model:value="download" />
    <template v-slot:footer>
      <px-button @click="onCreateClick" :text="mode === 'modify' ? 'Save' : 'Create'" class="px-button-accent-b"></px-button>
    </template>
  </px-overlay>
</template>

<script>
import PxOverlay from "@/components/layout/overlay.vue";
import { createBookmark, modifyBookmark } from "@/api/bookmark.ts";
import PxButton from "@/components/common/button.vue";
import PxTextField from "@/components/common/text-field.vue";
import { useToasts } from "@/composables/toast-composable";
import _ from "lodash";
import PxSwitch from '@/components/common/switch.vue';

export default {
  name: "px-bookmark-create-dialog",
  components: { PxSwitch, PxButton, PxOverlay, PxTextField},
  data: function() {
    return {
      name: null,
      monitor: true,
      download: false,
      path: null,
      seenPosts: null,
      mode: null
    };
  },
  computed: {
    capitalizedMode() {
      return this.mode && _.capitalize(this.mode);
    }
  },
  setup() {
    const { showErrorToast } = useToasts();
    return {
      showErrorToast
    };
  },
  methods: {
    hide(){
      this.$refs.overlay.hide();
    },

    show(path, seenPosts){
      if (!path) {
        throw new Error('No path provided');
      }
      if (!seenPosts) {
        throw new Error('No seenPosts provided');
      }
      this.path = path;
      this.seenPosts = seenPosts;
      this.mode = 'create';
      this.$refs.overlay.show();
    },

    /**
     * @param bookmark {Bookmark}
     */
    showEdit(bookmark){
      this.path = bookmark.path;
      this.seenPosts = [];
      this.monitor = bookmark.monitor;
      this.name = bookmark.name;
      this.download = bookmark.download;
      this.mode = 'modify';
      this.$refs.overlay.show();
    },

    clearData() {
      this.name = null;
      this.monitor = true;
    },

    async onCreateClick() {
      const bookmark = {
        name: this.name,
        path: this.path,
        monitor: this.monitor,
        download: this.download
      };
      try {
        if (this.mode === 'modify') {
          await modifyBookmark(bookmark);
        } else {
          await createBookmark(bookmark, this.seenPosts);
        }
        this.hide();
        this.clearData();
      }
      catch (e) {
        this.showErrorToast({
          summary: 'Failed to save bookmark',
          details: e.toString()
        });
      }
    }
  }
}
</script>

<style scoped>
  label {
    display: flex;
    flex-direction: row;
  }
  label > :not(span) {
    margin-left: var(--px-margin-spacing);
    flex: 1;
  }
  label > [type=checkbox] {
    flex: 0;
    justify-self: flex-start;
  }
</style>