<template>
  <div class="px-test-view">
    Test page
    <TestToastView />
  </div>
</template>

<script>
import TestToastView from "@/components/test/test-toast-view.vue";
export default {
  name: "TestView",
  components: { TestToastView }
}
</script>

<style scoped>

</style>