<template>
  <div>
    <px-text-field label="Summary" v-model:value="summary"/>
    <px-text-field label="Details" v-model:value="details"/>
    <px-text-field label="Timeout" v-model:value="timeout"/>
    <div>
      <px-button text="Error" @click="showToast(showErrorToast)" />
      <px-button text="Warn" @click="showToast(showWarnToast)" />
      <px-button text="Info" @click="showToast(showInfoToast)" />
    </div>
  </div>
</template>

<script>
import PxTextField from "@/components/common/text-field.vue";
import PxButton from "@/components/common/button.vue";
import { useToasts } from "@/composables/toast-composable";
export default {
  name: "TestToastView",
  components: { PxButton, PxTextField },
  data() {
    return {
      summary: null,
      details: null,
      timeout: '5000'
    }
  },
  setup() {
    const { showErrorToast, showInfoToast, showWarnToast } = useToasts();
    return {
      showErrorToast,
      showInfoToast,
      showWarnToast
    };
  },
  methods: {
    showToast(showFn) {
      showFn({
        summary: this.summary,
        details: this.details && this.details.length > 0 ? this.details : null,
        timeout: +this.timeout
      });
    }
  }
}
</script>

<style scoped>

</style>