<template>
  <div class="px-service-home-screen">
    <div v-if="authSupported" class="px-padding-hz-2 px-padding-vt-1 px-service-home-screen-auth-bar">
      {{ userDataLoading ? 'Loading...' : userData ? `Logged in as ${userData.name}` : 'Not logged in' }}
    </div>
    <div class="px-padding-hz-4 px-service-home-screen-container">
      <service-home-screen-category
          v-for="item in nonEmptyItems"
          :key="item.title"
          :category="item"
          :root-path="global ? '' : path" />
    </div>
    <px-loading-indicator-overlay :visible="loading" />
  </div>
</template>

<script>
import ServiceHomeScreenCategory from "@/components/service/service-home-screen-category.vue";
import {
  getServiceHomeScreen,
  getServiceSearchAutocompleteSuggestions,
  isServiceHomeScreenSupported
} from "@/api/service";
import {
  GALLERY_SEARCH,
  SEARCH_LEAVE_ACTIVE_VIEW,
  SEARCH_REGISTER_ACTIVE_VIEW
} from "@/ui-events";
import { globalEventBus } from "@/event-bus";
import PxLoadingIndicatorOverlay from "@/components/common/loading-indicator-overlay.vue";
import { toRef } from "vue";
import { useServiceAuth } from "@/composables/auth-composable";
import { useToasts } from "@/composables/toast-composable";
import { useGalleryContext } from "@/composables/gallery-context-composable";
export default {
  name: "ServiceHomeScreen",
  components: { PxLoadingIndicatorOverlay, ServiceHomeScreenCategory },
  props: {
    path: String,
    service: Object,
    global: {
      type: Boolean,
      default: false
    },
    query: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      items: null,
      loading: false
    }
  },
  watch: {
    path() {
      this.loadHomeScreenItems();
    },
    query() {
      this.loadHomeScreenItems();
    }
  },
  computed: {
    nonEmptyItems() {
      return this.items?.filter(item => !item.items || item.items.length > 0);
    }
  },
  setup(props) {
    const path = toRef(props, 'path'),
        { showErrorToast } = useToasts(),
        auth = !props.global ? useServiceAuth(path, showErrorToast) : {
          userData: null,
          userDataLoading: false,
          authSupported: false,
          authenticate: () => null
        },
        { updateContext: updateGalleryContext } = useGalleryContext();
    return {
      ...auth,
      updateGalleryContext
    };
  },
  mounted() {
    this.loadHomeScreenItems();
    globalEventBus.fireEvent(SEARCH_REGISTER_ACTIVE_VIEW, {
      persistent: true,
      autocompleteFn: this.getSearchAutocompleteSuggestions.bind(this),
      onSubmit: this.onSearchSubmit.bind(this)
    });
  },
  unmounted() {
    globalEventBus.fireEvent(SEARCH_LEAVE_ACTIVE_VIEW);
  },
  async beforeRouteEnter(to, from, next) {
    if (to.name === 'service-home-screen' && !await isServiceHomeScreenSupported(to.params.path)) {
      next({
        name: 'gallery',
        params: {
          path: to.params.path,
          pathType: 'service',
          descriptor: to.params.service,
          page: 'null'
        }
      })
    } else {
      next();
    }
  },
  methods: {
    async loadHomeScreenItems() {
      this.loading = true;
      this.items = [];
      try {
        if (this.path) {
          this.items = await getServiceHomeScreen(this.path);
        } else if (this.query) {
          this.items = await getServiceHomeScreen('/omnibox/' + this.query);
        } else {
          throw new Error('No path or query is provided');
        }
        if (!this.global && this.items == null) {
          this.updateGalleryContext({
            pathType: 'service',
            path: this.path,
            descriptor: this.service
          });
        }
      }
      finally {
        this.loading = false;
      }
    },
    getSearchAutocompleteSuggestions(...args) {
      if (this.path) {
        return getServiceSearchAutocompleteSuggestions(this.path, ...args);
      }
    },
    onSearchSubmit(query) {
      globalEventBus.fireEvent(GALLERY_SEARCH, this.path, query);
    }
  }
}
</script>

<style scoped>
  .px-service-home-screen {
    display: flex;
    flex-direction: column;
  }
  .px-service-home-screen-container {
    flex: 1 1 0;
    overflow-y: scroll;
  }
</style>