<template>
  <div class="px-service-home-screen-category">
    <div class="px-text-header-1 px-service-home-screen-category-header">
      <span>{{ category.title }}</span>
      <div class="px-service-home-screen-category-header-spacer"></div>
      <px-button
          :icon-only="true"
          :flat="true"
          icon-cls="px-icon-outline-forward"
          @click="onGoToCategoryClick" />
    </div>
    <px-gallery
      :items="category.items"
      :path="path"
      :max-lines="2"
      :embedded="true" />
  </div>
</template>

<script>
import { defineAsyncComponent } from "@vue/runtime-core";
import PxButton from "@/components/common/button.vue";
import { useGalleryContext } from "@/composables/gallery-context-composable";

export default {
  name: "ServiceHomeScreenCategory",
  components: {
    PxButton,
    PxGallery: defineAsyncComponent(() => import('@/components/gallery/gallery.vue'))
  },

  props: {
    rootPath: {
      type: String
    },
    category: {
      type: Object
    }
  },

  computed: {
    path() {
      return `${this.rootPath}${this.category.galleryRelPath}`;
    }
  },

  setup() {
    const { updateContext: updateGalleryContext } = useGalleryContext();
    return {
      updateGalleryContext
    };
  },

  methods: {
    onGoToCategoryClick() {
      this.updateGalleryContext({
        pathType: 'service',
        path: this.path,
        items: this.category.items
      });
    }
  }
}
</script>

<style scoped>
  .px-service-home-screen-category {
    margin-top: calc(var(--px-margin-spacing) * 2);
    margin-bottom: calc(var(--px-margin-spacing) * 5);
  }
  .px-service-home-screen-category:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }
  .px-service-home-screen-category-header-spacer {
    display: inline-block;
    width: calc(var(--px-margin-spacing) * 0.5);
  }
  .px-service-home-screen-category-header {
    max-width: 100%;
    display: flex;
  }
  .px-service-home-screen-category-header span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>