<template>
  <px-combobox v-if="configDescription.editor?.type === 'combobox'" :label="configDescription.label" :selected-item="options.currentValue" :items="configDescription.editor.options" key-field="label" value-field="value" @update:selectedItem="onValueUpdate">
    <template #item-entry-template="{ item }">
      {{item.label}}
    </template>
  </px-combobox>
  <px-text-field v-else :value="options.currentValue" :label="configDescription.label" @update:value="onValueUpdate" />
</template>

<script>
import { Options } from '@/electron/options/options';
import PxTextField from '@/components/common/text-field.vue';
import PxCombobox from '@/components/common/combobox.vue';

export default {
  name: "px-config-string",

  components: {
    PxCombobox,
    PxTextField
  },

  props: {
    /** @type {Options<string>} */
    options: Options,

    /** @type {ConfigPropertyDescription<string>} */
    configDescription: Object
  },

  methods: {
    onValueUpdate(value) {
      this.options.setValue(value);
    }
  }
}
</script>

<style scoped>

</style>