<template>
  <label>
    <px-switch :label="configDescription.label" v-model:value="value" />
  </label>
</template>

<script>
import { ref, watch } from 'vue';
import PxSwitch from '@/components/common/switch.vue';

export default {
  name: 'px-config-boolean',
  components: {
    PxSwitch
  },
  props: {
    options: Object,
    configDescription: Object
  },

  setup(props) {
    const value = ref(props.options.currentValue);

    watch(value, val => {
      props.options.setValue(val)
    });

    return {
      value
    };
  }
}
</script>

<style scoped>

</style>