<template>
  <div class="px-config-container px-form-vertical">
    <component
        v-for="[key, description] in Object.entries(configDescription.children)"
        :key="key"
        :is="`px-config-${description.type}`"
        :options="options.getChild(key)"
        :config-description="description" />
  </div>
</template>

<script>
import PxConfigString from '@/components/config/config-string.vue'
import PxConfigBoolean from '@/components/config/config-boolean.vue'

export default {
  name: "px-config-object",

  components: {
    PxConfigString,
    PxConfigBoolean
  },

  props: {
    options: Object,

    /** @type {ConfigPropertyDescription<object>} */
    configDescription: Object
  }
}
</script>

<style scoped>

</style>