<template>
  <transition appear name="fade" @after-enter="onAfterEnter" @after-leave="onAfterLeave" @enter="onBeforeEnter">
    <div :class="{
          'px-overlay': true,
          'px-overlay-mask': true,
          'px-acrylic': true,
          'px-overlay-fullscreen': fullscreen,
          'px-overlay-immersive': immersive,
          'px-overlay-no-footer': !footerVisible
        }" v-if="shown">
      <div class="px-overlay-inner px-elevated-7">
        <div class="px-overlay-header px-text-size-7" v-if="headerVisible">
          <span class="px-overlay-header-text">
            <slot name="header"></slot>
          </span>
          <div class="px-overlay-header-tools">
            <px-button :icon-only="true" icon-cls="px-icon-outline-close" :flat="immersive" @click="hide"></px-button>
          </div>
        </div>
        <div :class="['px-overlay-content', ...contentClasses]">
          <slot></slot>
        </div>
        <div :class="['px-overlay-footer', `px-overlay-footer-align-${footerAlign}`]" v-if="footerVisible">
          <slot name="footer"></slot>
        </div>
        <div v-if="!headerVisible" class="px-overlay-header-tools px-overlay-header-tools-standalone">
          <px-button :icon-only="true" icon-cls="px-icon-outline-close" :flat="immersive" @click="hide"></px-button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import PxButton from "@/components/common/button.vue";
import { globalEventBus } from "@/event-bus";
import { OVERLAY_HIDE, OVERLAY_SHOW } from "@/ui-events";
import { ref } from "vue";
import { useHotkeys } from "@/composables/keyboard-composable";
export default {
  name: "px-overlay",
  components: {PxButton},
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    fullscreen: {
      type: Boolean,
      default: false
    },
    immersive: {
      type: Boolean,
      default: false
    },
    headerVisible: {
      type: Boolean,
      default: true
    },
    footerVisible: {
      type: Boolean,
      default: true
    },
    footerAlign: {
      type: String,
      default: 'left'
    },
    contentClasses: {
      type: Array,
      default: () => []
    }
  },
  watch: {
    visible(value) {
      if (value !== this.shown) {
        if (value) {
          this.show();
        } else {
          this.hide();
        }
      }
    }
  },
  data: function () {
    return {
      shown: this.visible
    }
  },
  emits: {
    show: null,
    hide: null
  },

  setup() {
    const hotkeys = ref([]);

    useHotkeys(hotkeys);

    return {
      /** @type {Hotkey[]} */ hotkeys
    };
  },

  methods: {
    show() {
      this.shown = true;
    },
    hide() {
      this.shown = false;
    },
    onBeforeEnter() {
      globalEventBus.fireEvent(OVERLAY_SHOW);
    },
    onAfterEnter() {
      this.hotkeys.push({
        key: 'Escape',
        handler: this.onEscapeKey.bind(this)
      });
      this.$emit('show');
    },
    onAfterLeave() {
      this.hotkeys.pop();
      this.$emit('hide');
      globalEventBus.fireEvent(OVERLAY_HIDE);
    },
    onEscapeKey() {
      if (this.shown) {
        this.hide();
      } else {
        return false;
      }
    }
  }
}
</script>

<style scoped>
  .px-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    --px-overlay-text-base-color: var(--px-base-text-color);
    --px-overlay-text-emphasize-color: var(--px-base-text-color-emphasize);
  }
  .fade-enter-from, .fade-leave-to {
    opacity: 0;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.15s;
  }
  .px-overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .px-overlay-inner {
    padding: calc(var(--px-margin-spacing) * 2);
    background-color: var(--px-base-background-color);
    color: var(--px-base-text-color);
    border-radius: var(--px-overlay-border-radius);
    z-index: 100;
    pointer-events: visible;
    max-width: 90%;
    clip-path: inset(0px 0px round var(--px-overlay-border-radius));
    position: relative;
  }
  .px-overlay-immersive .px-overlay-inner {
    padding: 0;
    margin: calc(var(--px-margin-spacing) * 2);
  }
  .px-overlay-fullscreen .px-overlay-inner {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }

  .px-overlay-content {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    flex: 1;
  }

  /* Header */

  .px-overlay-header {
    margin-bottom: calc(var(--px-margin-spacing) * 2);
    color: var(--px-overlay-text-emphasize-color);
    position: relative;
    min-height: calc(var(--px-text-size-base) * 1.5);
  }
  .px-overlay-header-text {
    margin-right: calc(var(--px-margin-spacing) * 6);
  }

  /* Footer */

  .px-overlay-footer {
    margin-top: var(--px-margin-spacing);
    display: flex;
    flex-direction: row;
  }
  .px-overlay-footer-align-right {
    justify-content: end;
  }

  .px-overlay-inner * {
    pointer-events: visible;
  }

  /* Tools */

  .px-overlay-header-tools {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-items: flex-end;
    align-items: center;
  }

  .px-overlay-header .px-overlay-header-tools {
    height: 100%;
  }

  .px-overlay-header-tools-standalone {
    right: calc(var(--px-margin-spacing) * 2);
    top: calc(var(--px-margin-spacing) * 2);
  }
</style>

<style>
  .px-overlay:not(.px-overlay-no-footer) .px-overlay-content > * {
    margin-bottom: var(--px-margin-spacing);
  }
  .px-overlay-fullscreen .px-overlay-content > * {
    flex: 1;
  }

  .px-overlay .px-overlay-footer-align-left > * {
    margin-right: var(--px-margin-spacing);
  }
</style>