<template>
  <div
    class="px-waterfall-slot"
    :style="{ ...styleObject }">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "px-waterfall-slot",
  props: {
    box: Object,
    item: Object
  },
  computed: {
    styleObject() {
      return {
        top: this.box.y + 'px',
        left: this.box.x + 'px',
        width: this.box.width + 'px',
        height: this.box.height + 'px'
      }
    }
  }
}
</script>

<style scoped>
  .px-waterfall-slot {
    position: absolute;
  }

  .px-waterfall-slot > * {
    width: 100%;
    height: 100%;
  }
</style>