<template>
  <px-overlay ref="overlay" immersive :header-visible="false" :footer-visible="false">
    <div class="px-about">
      <div class="px-about-background"></div>
      <img class="px-about-logo px-elevated" alt="logo" src="~@/assets/charsy-logo-1c.png">
      <div class="px-about-text">
        <div class="px-text-header-hero">Charsy{{ platform === 'BROWSER' ? '.Web' : '' }}</div>
        <p class="px-text-light">
          image gallery client built to streamline collection management and content discovery
        </p>
        <p class="px-text-light">
          powered by {{ platform !== 'BROWSER' ? 'Electron, ' : '' }}Vue, RxJS and more
        </p>
        <div class="px-text-light">
          version {{ version }}
        </div>
        <div class="px-text-light" v-if="buildCommit">
          built on {{ buildDate.toLocaleString('en-US') }} from {{ buildCommit }}
        </div>
      </div>
    </div>
  </px-overlay>
</template>

<script>
import PxOverlay from "@/components/layout/overlay.vue";
import { usePlatform } from "@/composables/platform-composable";
import { useVersion } from "@/composables/version-composable";
export default {
  name: "px-about-dialog",
  components: { PxOverlay },
  setup() {
    const { platform } = usePlatform(),
        { version, buildCommit, buildDate } = useVersion();
    return {
      platform,
      version,
      buildCommit,
      buildDate: new Date(buildDate)
    };
  },
  methods: {
    hide() {
      this.$refs.overlay.hide();
    },
    show() {
      this.$refs.overlay.show();
    }
  }
}
</script>

<style scoped>
  .px-about {
    --px-about-animation-duration: 1.5s;
    --px-about-gradient-color: var(--px-accent-color-2-background);
    max-width: 480px;
    text-align: center;
    padding: calc(var(--px-margin-spacing) * 4) calc(var(--px-margin-spacing) * 2);
  }

  .px-about-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--px-about-gradient-color), transparent);
    animation: var(--px-about-animation-duration) ease px-about-background-fadein;
  }

  .px-about-text {
    animation: var(--px-about-animation-duration) ease px-about-text-fadein;
  }

  .px-text-header-hero {
    color: var(--px-base-text-color-emphasize);
  }

  .px-about-logo {
    z-index: 100;
    width: 128px;
    animation: var(--px-about-animation-duration) ease px-about-logo-fadein;
  }

  p {
    margin-top: 0;
  }

  @keyframes px-about-text-fadein {
    0% {
      opacity: 0;
      transform: translate(0, 50px);
    }
    50% {
      opacity: 0;
      transform: translate(0, 50px);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes px-about-background-fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes px-about-logo-fadein {
    0% {
      opacity: 0;
      transform: translate(0, 200px);
    }
    50% {
      opacity: 1;
      transform: translate(0, 100px) scale(2);
    }
  }
</style>