<template>
  <span class="px-header">
    <slot></slot>
  </span>
</template>

<script>
export default {
name: "px-header"
}
</script>

<style scoped>
  .px-header {
    display: block;
    color: var(--px-header-color);
  }
</style>