<template>
  <div class="px-gallery">
    <div class="px-gallery-selection-bar px-acrylic px-acrylic-border-top px-elevated" v-if="!embedded && selection.length > 0">
      <span>
        {{ selection.length }} selected
      </span>
      <px-button icon-cls="px-icon-outline-close" @click="clearSelection"></px-button>
      <px-button icon-cls="px-icon-outline-ellipsis" @click="e => showSelectionMenu(e)"></px-button>
    </div>
    <px-waterfall
      :items="effectivePosts"
      :line-gap="8"
      :target-ratio="singleLine ? null : targetRatio"
      :item-key-mapper="post => post.name"
      :item-size-mapper="post => ({ width: post.thumbWidth || post.width, height: post.thumbHeight || post.height })"
      :single-line-ratio="singleLine ? 4 : null"
      :max-lines="maxLines"
      :margin="embedded ? null : { x: 24, y: 0 }"
      :disable-auto-load="embedded"
      @data-load-request="loadNextPage">
      <template v-slot:item="{ item, box }">
        <px-gallery-item
            :item="item"
            :box="box"
            :gallery-path="path"
            :gallery-type="pathType"
            :gallery-descriptor="descriptor"
            :gallery-selection="selection"
            :hi-res="hiResThumbnails"
            :before-context-menu-fn="() => onBeforeItemContextMenu(item)"
            @click="previewUrl => onThumbnailClick(item, previewUrl)"
            @dblclick="previewUrl => onThumbnailDblClick(item, previewUrl)">
        </px-gallery-item>
      </template>
    </px-waterfall>
    <px-loading-indicator-overlay v-if="!embedded" :visible="loading" />
    <teleport to="#px-overlay-target">
    <px-overlay
        :visible="activePost != null"
        :fullscreen="true"
        :immersive="true"
        :header-visible="false"
        :footer-visible="false"
        @hide="onPostOverlayHide">
      <px-post-view
          v-if="activePost"
          :post="activePost"
          :preview-url="activePostPreviewUrl"
          @tagclick="onPostViewTagClick"
          @next="onPostViewNext"
          @prev="onPostViewPrev">
      </px-post-view>
    </px-overlay>
    </teleport>
  </div>
</template>

<script>
import { getServiceSearchAutocompleteSuggestions, loadServicePage } from "@/api/service.ts";
import PxWaterfall from "@/components/layout/waterfall.vue";
import PxGalleryItem from "@/components/gallery/gallery-item.vue";
import {globalEventBus} from "@/event-bus.ts";
import {
  GALLERY_SEARCH, SEARCH_LEAVE_ACTIVE_VIEW,
  SEARCH_REGISTER_ACTIVE_VIEW
} from "@/ui-events.ts";
import PxButton from "@/components/common/button.vue";
import * as _ from "lodash";
import PxOverlay from "@/components/layout/overlay.vue";
import PxPostView from "@/components/post/post-view.vue";
import { filterByRating, getCachePassthroughUrl, getSearchTagName } from "@/electron/util/post-util.ts";
import PxLoadingIndicatorOverlay from "@/components/common/loading-indicator-overlay.vue";
import { IPC_EVENT_POST_REMOVED_FROM_COLLECTION } from "@/electron/api/storage-symbols";
import { markPostForBookmarkAsSeen } from "@/api/bookmark";
import { usePreferences } from "@/composables/preferences-composable";
import { useLogger } from "@/composables/logging-composable";
import useIpcEvents from "@/composables/ipc-event-composable";
import { useScreenLayout } from "@/composables/platform-composable";
import { useCollections } from "@/composables/collections-composable";
import { useGalleryItemMenu } from "@/composables/gallery-item-menu-composable";
import { useToasts } from "@/composables/toast-composable";
import { ref } from "vue";
import { useGalleryContext } from "@/composables/gallery-context-composable";

function generateFakeItems(count) {
  const result = [];
  for (let i = 0; i < count; i++) {
    result.push({
      isSkeleton: true,
      name: `fake${i}`,
      width: Math.random() * 200 + 100,
      height: Math.random() * 200 + 100
    });
  }
  return result;
}

export default {
  name: "px-gallery",
  components: { PxLoadingIndicatorOverlay, PxPostView, PxOverlay, PxButton, PxGalleryItem, PxWaterfall},
  props: {
    path: String,
    pathType: String,
    descriptor: Object,
    page: String,
    embedded: {
      type: Boolean,
      default: false
    },
    singleLine: {
      type: Boolean,
      default: false
    },
    items: {
      type: Array
    },
    maxLines: Number
  },
  data: function() {
    return {
      posts: [],
      loadedPage: 0,
      endReached: false,
      loading: false,
      cacheUrls: {},
      activePost: null,
      activePostPreviewUrl: null,
      nextPageToken: null,
      isMounted: false
    };
  },
  watch: {
    path: function (path) {
      this.clearData();
      if (path) {
        this.updateGalleryContext({
          pathType: this.pathType,
          path: path,
          descriptor: this.descriptor
        });
        this.loadNextPage();
      }
    },
    page: function (value) {
      this.nextPageToken = value;
    },
    items(value) {
      this.clearData();
      if (_.isArray(value)) {
        this.posts.push(...value);
      }
    },
    activePost(value) {
      if (value && this.pathType === 'bookmark') {
        markPostForBookmarkAsSeen(this.descriptor.name, value);
      }
    }
  },
  computed: {
    searchQuery() {
      if (this.pathType === 'search') {
        return this.descriptor.query;
      }
      return null;
    },
    targetRatio() {
      return this.screenLayout.size === 'SMALL' ? 1.5 : 2.5;
    },
    effectivePosts() {
      return _.isEmpty(this.posts) && this.embedded ? generateFakeItems(8) : this.posts;
    }
  },
  emits: {
    pageload: null
  },
  setup(props) {
    const { valueRef: hiResThumbnails } = usePreferences(prefs => prefs.gallery.hiResThumbnails),
        { onIpcEvent } = useIpcEvents(),
        { logger } = useLogger(),
        { screenLayout } = useScreenLayout(),
        { collections } = useCollections(onIpcEvent),
        { showInfoToast, showErrorToast } = useToasts(),
        selection = ref([]),
        { showMenu: showSelectionMenuFn } = useGalleryItemMenu(undefined, props.pathType, props.descriptor, showInfoToast, showErrorToast, collections, () => selection.value),
        { updateContext: updateGalleryContext } = useGalleryContext(),
        { valueRef: ratingFilter } = usePreferences(p => p.gallery.ratingFilter);
    return {
      onIpcEvent,
      hiResThumbnails,
      logger,
      screenLayout,
      selection,
      showSelectionMenuFn,
      updateGalleryContext,
      ratingFilter
    };
  },
  mounted() {
    this.globalBus = globalEventBus;
    this.isMounted = true;
    if (!this.embedded) {
      this.globalBus.fireEvent(SEARCH_REGISTER_ACTIVE_VIEW, {
        persistent: false,
        initialQuery: this.searchQuery,
        autocompleteFn: this.getSearchAutocompleteSuggestions.bind(this),
        onSubmit: this.onSearchSubmit.bind(this)
      });
    }
    if (this.items) {
      this.posts.push(...this.items);
    }
    this.onIpcEvent(IPC_EVENT_POST_REMOVED_FROM_COLLECTION, this.onPostRemoveFromCollection.bind(this));
  },
  unmounted() {
    if (!this.embedded) {
      this.updateGalleryContext(null);
      globalEventBus.fireEvent(SEARCH_LEAVE_ACTIVE_VIEW);
    }
    this.isMounted = false;
  },
  methods: {
    async loadPage(page) {
      if (this.embedded && !_.isEmpty(this.posts)) {
        return;
      }
      this.logger.debug(`[${this.path}] Loading page ${page}`);
      const loadedPath = this.path;
      this.loading = true;
      const data = await loadServicePage(loadedPath, page, this.embedded);
      if (this.path !== loadedPath || !this.isMounted || data.nextPageToken === page) {
        this.loading = false;
        return;
      }
      this.nextPageToken = data.nextPageToken;
      const newPosts = data.content
          .filter(post => post.thumbUrl != null && !this.posts.find(presentPost => presentPost.name === post.name))
          .filter(post => filterByRating(post, this.ratingFilter));
      newPosts.forEach((post, index) => post._batchEntryIndex = index);
      this.posts.push(...newPosts);
      if (data.nextPageToken == null) {
        this.endReached = true;
      }
      this.loading = false;
      this.logger.debug(`[${this.path}] Got next page token: ${this.nextPageToken}`);
      this.onPageLoad(this.nextPageToken || page);
      return newPosts;
    },
    async loadNextPage() {
      if (this.path != null && !this.endReached && !this.loading) {
        const newPosts = await this.loadPage(this.nextPageToken || ++this.loadedPage);
        if (this.nextPageToken && newPosts && newPosts.length === 0) {
          await this.loadNextPage();
        }
      }
    },
    onThumbnailClick(post, previewUrl) {
      if (this.screenLayout.orientation === 'VERTICAL') {
        this.showPost(post, previewUrl);
      } else {
        this.onItemSelection(post);
      }
    },
    onThumbnailDblClick(post, previewUrl) {
      this.showPost(post, previewUrl)
    },
    onBeforeItemContextMenu(post) {
      if (this.screenLayout.orientation === 'VERTICAL') {
        this.onItemSelection(post);
        return false;
      }
    },

    onItemSelection(post) {
      if (this.embedded) {
        return;
      }
      if (!this.selection.includes(post)) {
        this.selection.push(post);
      } else {
        this.selection = _.without(this.selection, post);
      }
    },
    showPost(post, previewUrl) {
      this.activePost = post;
      this.activePostPreviewUrl = previewUrl;
    },

    onSearchSubmit(query) {
      this.globalBus.fireEvent(GALLERY_SEARCH, this.path, query);
    },
    onActiveGalleryInfoRequest(callback) {
      callback(this.path, this.posts);
    },
    onPostOverlayHide() {
      this.activePost = null;
    },
    onPostViewTagClick(tag) {
      this.globalBus.fireEvent(GALLERY_SEARCH, this.path, getSearchTagName(tag));
    },
    onPostViewNext() {
      if (this.activePost != null) {
        const postIndex = this.posts.indexOf(this.activePost);
        this.activePost = this.posts[postIndex + 1];
        this.activePostPreviewUrl = getCachePassthroughUrl(this.activePost.thumbUrl);
      }
    },
    onPostViewPrev() {
      if (this.activePost != null) {
        const postIndex = this.posts.indexOf(this.activePost);
        this.activePost = this.posts[postIndex - 1];
        this.activePostPreviewUrl = getCachePassthroughUrl(this.activePost.thumbUrl);
      }
    },
    onPageLoad(page) {
      this.$emit('pageload', page);
    },
    onPostRemoveFromCollection(collectionName, post) {
      if (this.pathType === 'collection' && this.descriptor.name === collectionName) {
        const presentPost = this.posts.find(item => item.url === post.url);
        if (presentPost) {
          this.posts = _.without(this.posts, presentPost);
          this.selection = _.without(this.selection, presentPost)
        }
      }
    },
    getSearchAutocompleteSuggestions(...args) {
      return getServiceSearchAutocompleteSuggestions(this.path, ...args);
    },
    clearData() {
      this.posts = [];
      this.loadedPage = 0;
      this.endReached = false;
      this.loading = false;
      this.selection = [];
      this.activePost = null;
      this.nextPageToken = null;
    },
    clearSelection() {
      this.selection = [];
    },
    showSelectionMenu(e) {
      this.showSelectionMenuFn({
        event: e,
        direction: 'up'
      });
    }
  }
}
</script>

<style scoped>
  .px-gallery {
    position: relative;
  }
  .px-gallery > .px-waterfall {
    width: 100%;
    height: 100%;
  }
  .px-gallery-search-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .px-gallery-selection-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    color: var(--px-text-color-acrylic);
    padding: calc(var(--px-margin-spacing) * 1.6);
    padding-left: calc(var(--px-margin-spacing) * 2);
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  .px-gallery-selection-bar span {
    line-height: 0;
    flex: 1;
  }
  .px-gallery-selection-bar .px-button {
    --px-button-background-color: var(--px-accent-color);
    --px-button-color: var(--px-accent-color-text);
    margin-left: var(--px-margin-spacing);
  }
</style>

<style>
  .px-app-screen-vertical .px-gallery-selection-bar {
    padding-left: calc(var(--px-margin-spacing) * 7);
  }
</style>