<template>
  <div :class="[
      'px-gallery-search-bar-container',
      ...[visible ? ['px-gallery-search-bar-visible', 'px-elevated', !persistent ? 'px-acrylic' : '', 'px-acrylic-border-bottom'] : ['px-gallery-search-bar-hidden']],
      persistent ? 'px-gallery-search-bar-persistent' : 'px-gallery-search-bar-adhoc'
    ]">
  <div :class="[
      'px-gallery-search-bar'
     ]">
    <px-button
        class="px-gallery-search-bar-back-button"
        :icon-only="true"
        icon-cls="px-icon-outline-back"
        :elevated="!visible"
        @click="onBackClick">
    </px-button>
    <div class="px-gallery-search-bar-input-container">
      <px-text-field
          ref="input"
          v-if="visible"
          :class="[persistent ? 'px-text-field-light' : 'px-text-field-acrylic']"
          placeholder="Search"
          v-model:value="query"
          @submit="onSearchSubmit"
          @ready="onInputReady">
      </px-text-field>
      <div class="px-gallery-search-bar-autocomplete-suggestions" v-if="autocompleteSuggestions || autocompleteLoading">
        <span v-if="autocompleteLoading && !autocompleteSuggestions" class="px-margin-1">Loading...</span>
        <px-titled-list-item
            v-for="suggestion in autocompleteSuggestions"
            :key="suggestion.name"
            @click="onAutocompleteSuggestionSelect(suggestion)">
          {{ suggestion.label || suggestion.name }}
        </px-titled-list-item>
      </div>
    </div>
    <px-button
        class="px-gallery-search-bar-toggle-button"
        :icon-only="true"
        :icon-cls="visible ? 'px-icon-outline-close' : 'px-icon-fill-search'"
        :elevated="!visible"
        @click="onToggleClick">
    </px-button>
  </div>
  <div
      class="px-gallery-search-bar-controls-overlay-padding"
      :style="{ flex: `0 0 ${windowControlsOverlayPadding}px` }"
      v-if="platform === 'WINDOWS'">
  </div>
  </div>
</template>

<script>
import PxButton from "@/components/common/button.vue";
import PxTextField from "@/components/common/text-field.vue";
import { Subject } from "rxjs";
import { map, filter, debounceTime, distinctUntilChanged } from 'rxjs/operators';
import _ from 'lodash';
import PxTitledListItem from "@/components/common/titled-list-item.vue";
import { globalEventBus } from "@/event-bus";
import { OMNIBOX_SUGGESTION_SELECT } from "@/ui-events";
import { SEARCH_LEAVE_ACTIVE_VIEW, SEARCH_REGISTER_ACTIVE_VIEW } from "@/ui-events";
import { omniboxQuery } from "@/api/omnibox";
import { getOmniboxResultDisplayName } from "@/api/service";
import { useLogger } from "@/composables/logging-composable";
import { usePlatform } from "@/composables/platform-composable";
import { useRouter } from "vue-router";
import { ref } from "vue";
import { useHotkeys } from "@/composables/keyboard-composable";
import { useOverlayStatus } from '@/composables/overlay-composable';
export default {
  name: "px-gallery-search-bar",
  components: {PxTitledListItem, PxTextField, PxButton},
  props: {
    initialQuery: String,
    initialAutocompleteFn: Function,
    initialPersistent: {
      type: Boolean,
      default: false
    }
  },
  setup() {
    const { logger } = useLogger(),
        { platform } = usePlatform(),
        { router } = useRouter(),
        hotkeys = ref(/** @type {Hotkey[]} */ []),
        { overlayStatus } = useOverlayStatus();

    useHotkeys(hotkeys);

    return {
      logger,
      platform,
      router,
      hotkeys,
      overlayStatus
    };
  },
  watch: {
    initialQuery(value) {
      this.query = value;
    },
    initialAutocompleteFn(value) {
      this.autocompleteFn = value;
    },
    initialPersistent(value) {
      this.persistent = value;
    },
    query(value) {
      this.autocompleteInputSubject.next(value);
    },
    activeViewContext(value) {
      if (!value) {
        value = {
          persistent: this.initialPersistent,
          autocompleteFn: this.initialAutocompleteFn,
          initialQuery: this.initialQuery
        };
      }

      if (value.initialQuery) {
        this.query = value.initialQuery;
      }
      const persistent = value.persistent == null || this.platform === 'WINDOWS' ? true : value.persistent;
      this.persistent = persistent;
      this.visible = persistent;
      this.autocompleteFn = value.autocompleteFn;
    }
  },
  data: function () {
    return {
      visible: false,
      query: null,
      autocompleteSuggestions: null,
      autocompleteLoading: false,
      viewContexts: [],
      autocompleteFn: null,
      persistent: false
    };
  },
  computed: {
    activeViewContext() {
      return _.last(this.viewContexts);
    },
    windowControlsOverlayPadding() {
      const box = navigator.windowControlsOverlay?.getBoundingClientRect?.();
      if (box) {
        return document.body.clientWidth - box.width;
      } else {
        return 0;
      }
    }
  },
  emits: {
    submit: null
  },
  mounted() {
    this.visible = this.persistent;
    this.autocompleteInputSubject = new Subject();
    this.autocompleteObservable = this.autocompleteInputSubject.pipe(
        map(query => _.last(query?.split(' ') ?? [])),
        filter(term => _.isEmpty(term) || term.length >= 3),
        debounceTime(300),
        distinctUntilChanged()
    );
    this.autocompleteObservable.subscribe(this.onAutocompleteRequest.bind(this));

    this.hotkeys.push({
      key: '/',
      handler: this.onQuickAccessHotkey.bind(this)
    }, {
      key: 'Escape',
      handler: this.onEscape.bind(this)
    })

    globalEventBus.on(SEARCH_REGISTER_ACTIVE_VIEW, this.onRegisterActiveView.bind(this));
    globalEventBus.on(SEARCH_LEAVE_ACTIVE_VIEW, this.onLeaveView.bind(this));
  },
  methods: {
    onToggleClick() {
      this.visible = !this.visible;
      if (this.visible) {
        this.$refs.input?.focus();
      }
    },

    onQuickAccessHotkey() {
      if (this.visible || this.overlayStatus) {
        return false;
      }
      this.visible = true;
      this.$refs.input?.focus();
    },

    onEscape() {
      if (this.$refs.input && this.$refs.input.hasFocus() && !this.persistent) {
        this.visible = false;
      } else {
        return false;
      }
    },

    onBackClick() {
      this.$router.back();
    },

    onSearchSubmit() {
      this.$emit('submit', this.query);
      this.$router.push({
        name: 'omniboxSearch',
        params: {
          query: this.query
        }
      });
      this.query = null;
      this.visible = this.persistent;
    },

    onInputReady() {
      if (this.visible) {
        this.$refs.input.focus();
      }
    },

    async onAutocompleteRequest(term) {
      if (!term) {
        this.autocompleteSuggestions = null;
        return;
      }
      this.autocompleteLoading = true;
      try {
        let result = await this.getSuggestions(term, this.query);
        if (_.isEmpty(result) || _.isEmpty(this.query)) {
          result = null;
        }
        this.autocompleteSuggestions = result;
      }
      finally {
        this.autocompleteLoading = false;
      }
    },

    async getSuggestions(term, query) {
      if (query == null) {
        query = term;
      }
      const serviceResults = await this.autocompleteFn?.(term),
          omniboxQueryParts = query.split(' '),
          omniboxResults = (await omniboxQuery(
              omniboxQueryParts.length > 1 ? [omniboxQueryParts[0]] : [],
              omniboxQueryParts.length > 1 ? omniboxQueryParts.slice(1).join(' ') : query)).map(r => ({
            category: 'general',
            name: getOmniboxResultDisplayName(r),
            omniboxResult: r
          }));
      return [...omniboxResults, ...(serviceResults == null ? [] : serviceResults)]
    },

    /** @param suggestion {SearchAutocompleteSuggestion} */
    onAutocompleteSuggestionSelect(suggestion) {
      this.logger.debug(`Suggestion selected: ${suggestion}`);
      if (suggestion.omniboxResult != null) {
        this.query = '';
        globalEventBus.fireEvent(OMNIBOX_SUGGESTION_SELECT, suggestion.omniboxResult);
      } else {
        const terms = this.query.split(' ');
        const lastTermIndex = terms.length - 1;
        terms[lastTermIndex] = suggestion.name;
        this.query = terms.join(' ') + ' ';
        this.$refs.input.focus();
      }
      this.autocompleteSuggestions = null;
    },

    onRegisterActiveView(options) {
      this.viewContexts.push(options);
    },

    onLeaveView() {
      this.viewContexts.pop();
    }
  }
}
</script>

<style scoped>
  .px-gallery-search-bar-container {
    --px-gallery-search-bar-background-color: var(--px-accent-color);
    display: flex;
  }
  .px-gallery-search-bar {
    padding: var(--px-margin-spacing);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.1s;
    flex: 1;
    max-width: 100%;
  }
  .px-gallery-search-bar-persistent {
    background-color: var(--px-gallery-search-bar-background-color);
  }
  .px-gallery-search-bar-adhoc {
    position: absolute;
    z-index: 100;
    width: 100%;
  }

  .px-gallery-search-bar-adhoc.px-gallery-search-bar-hidden {
    background-color: transparent;
    pointer-events: none;
  }
  .px-gallery-search-bar-container.px-gallery-search-bar-visible {
    -webkit-app-region: drag;
    app-region: drag;
  }
  .px-gallery-search-bar-toggle-button, .px-gallery-search-bar-back-button {
    -webkit-app-region: no-drag;
    app-region: no-drag;
    --px-button-color: var(--px-gallery-search-bar-background-color);
    pointer-events: auto;
  }

  .px-gallery-search-bar-input-container {
    -webkit-app-region: no-drag;
    app-region: no-drag;
    position: relative;
    pointer-events: auto;
    flex: 0 1 200px;
    min-width: 100px;
  }
  .px-gallery-search-bar-input-container input, .px-gallery-search-bar-input-container label {
    cursor: text;
  }
  .px-gallery-search-bar-autocomplete-suggestions {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--px-base-background-color);
    transition: opacity 0.1s;
    z-index: 1000;
  }
  .px-gallery-search-bar-input-container:not(:focus-within) .px-gallery-search-bar-autocomplete-suggestions {
    opacity: 0;
    pointer-events: none;
  }
  .px-gallery-search-bar-autocomplete-suggestions .px-titled-list-item {
    padding-left: var(--px-margin-spacing);
  }
  .px-gallery-search-bar-controls-overlay-padding {
  }
</style>