<template>
  <div
      ref="root"
      :class="{
        'px-gallery-item': true,
        'px-rounded-1': true,
        'px-gallery-item-selected': isSelected
      }"
      :style="{ backgroundImage: `url('${thumbBlobUrl}')` }"
      @dblclick="onDblClick"
      @click="onClick">
    <video class="px-gallery-item-video" v-if="isVideo" autoplay loop muted>
      <source :src="thumbUrl" :type="mediaTypeString">
    </video>
    <transition name="placeholder-fade">
      <div class="px-gallery-item-placeholder px-rounded-1" v-if="!thumbBlobUrl">
        <div class="px-gallery-item-placeholder-gloss"></div>
      </div>
    </transition>
    <div class="px-gallery-item-selected-overlay px-rounded-1" v-if="isSelected"></div>
    <div class="px-gallery-item-top-bar">
      <px-badge v-if="isNew">New</px-badge>
      <px-badge v-if="isDownloaded">Downloaded</px-badge>
      <px-badge v-if="isFullVideo">Video</px-badge>
      <px-badge v-if="!isCollection && collections.length > 0">{{ collectionBadgeText }}</px-badge>
    </div>
  </div>
</template>

<script>
import { IPC_EVENT_POST_ADDED_TO_COLLECTION } from "@/electron/api/storage-symbols.ts";
import PxDragSource from '@/mixins/drag-source.vue';
import PxBadge from "@/components/common/badge.vue";
import { isBookmarkPostSeen } from "@/api/bookmark.ts";
import { getPostCollections} from "@/api/storage.ts";
import { DelayedTask } from "@/electron/util/delayed-task.ts";
import useIpcEvents from "@/composables/ipc-event-composable.ts";
import { getCachePassthroughUrl } from "@/electron/util/post-util.ts";
import { ref, toRef } from "vue";
import { useCollections } from "@/composables/collections-composable";
import { useToasts } from "@/composables/toast-composable";
import { IPC_EVENT_BOOKMARK_POST_SEEN } from "@/electron/api/bookmark-symbols";
import { useIpcObservable, useObservable } from "@/composables/rx-composable";
import { getPostsDownloadStatuses } from "@/api/download";
import { IPC_EVENT_DOWNLOAD_INFO } from "@/electron/api/download-symbols";
import { filter, map } from "rxjs/operators";
import { useIntersectionItem } from "@/composables/intersection-composable";
import { useLogger } from "@/composables/logging-composable";
import { useGalleryItemMenu } from "@/composables/gallery-item-menu-composable";
import { getFilenameMediaType, getMediaTypeString } from "@/electron/util/media-type-util";

export default {
  name: "px-gallery-item",
  components: {PxBadge},
  mixins: [
    PxDragSource
  ],
  emits: {
    click: null,
    dblclick: null,
    load: null,
    addToCollectionRequest: null
  },
  props: {
    item: {
      type: Object,
      default: null
    },
    box: {
      type: Object,
      default: null
    },
    galleryPath: String,
    galleryType: String,
    galleryDescriptor: Object,
    gallerySelection: Array,
    hiRes: {
      type: Boolean,
      default: false
    },
    beforeContextMenuFn: {
      type: Function,
      default: undefined
    }
  },
  data: function () {
    return {
      isNew: false,
      thumbBlob: null,
      thumbBlobUrl: null
    }
  },
  computed: {
    isBookmark() {
      return this.galleryType === 'bookmark';
    },
    isCollection() {
      return this.galleryType === 'collection';
    },
    isSelected() {
      return this.gallerySelection && this.gallerySelection.includes(this.item);
    },
    collectionBadgeText() {
      const count = this.collections.length;
      if (count === 1) {
        return '1 collection'
      } else {
        return `${count} collections`;
      }
    },
    thumbUrl() {
      return this.getThumbUrl(this.item, this.box, this.hiRes);
    },
    isDownloaded() {
      return this.downloadStatus === 'COMPLETE';
    },
    isVideo() {
      return this.thumbUrl && getFilenameMediaType(this.thumbUrl)?.type === 'video';
    },
    isFullVideo() {
      return this.item.fileUrl && getFilenameMediaType(this.item.fileUrl)?.type === 'video';
    },
    mediaTypeString() {
      return this.thumbUrl && getMediaTypeString(getFilenameMediaType(this.thumbUrl));
    }
  },
  watch: {
    thumbUrl() {
      this.loadThumbBlob();
    }
  },
  setup(props) {
    const root = ref(null);
    const { onIpcEvent } = useIpcEvents();
    const { showInfoToast, showErrorToast } = useToasts();
    const collections = ref([]);
    const { collections: allCollections } = useCollections(onIpcEvent);
    const gallerySelection = toRef(props, 'gallerySelection');
    const getActionableItems = () => {
      if (gallerySelection.value == null || gallerySelection.value.length === 0 || gallerySelection.value.includes(props.item)) {
        return gallerySelection.value == null || gallerySelection.value.length > 1 ? gallerySelection.value : [props.item];
      }
    }

    useGalleryItemMenu(root, props.galleryType, props.galleryDescriptor, showInfoToast, showErrorToast, allCollections, getActionableItems, collections, props.beforeContextMenuFn);

    const item = toRef(props, 'item');
    const { observable: downloadStatusRaw$ } = useIpcObservable(
        onIpcEvent,
        async post => {
          const postUrl = post.url,
              status = await getPostsDownloadStatuses([post]);
          return {
            postUrl,
            status: status?.[0]
          };
        },
        IPC_EVENT_DOWNLOAD_INFO,
        item,
        (...args) => ({
          postUrl: args[0].post.url,
          status: args[0].status
        }));

    const downloadStatus$ = downloadStatusRaw$.pipe(
        filter(info => info.postUrl === item.value?.url),
        map(info => info.status)
    );

    const box = toRef(props, 'box');
    if (box.value?.cellIndex === 0) {
      useIntersectionItem(root, item.value?.url);
    }

    const { valueRef: downloadStatus } = useObservable(downloadStatus$),
        { logger } = useLogger();

    return {
      root,
      onIpcEvent,
      collections,
      allCollections,
      getActionableItems,
      downloadStatus,
      logger
    };
  },
  mounted() {
    this.loadCollections();
    if (this.isBookmark) {
      this.loadBookmarkState();
    }
    this.onIpcEvent(IPC_EVENT_POST_ADDED_TO_COLLECTION, this.onPostAddedToCollection.bind(this));
    this.onIpcEvent(IPC_EVENT_BOOKMARK_POST_SEEN, this.onPostSeenInBookmark.bind(this));
    this.clickDebounceTask = new DelayedTask(() => this.$emit('click'));
    this.loadThumbBlob();
  },
  unmounted() {
    if (this.thumbBlobUrl != null) {
      URL.revokeObjectURL(this.thumbBlobUrl);
    }
  },
  methods: {
    async loadCollections() {
      this.collections = await getPostCollections(this.item.url);
    },
    async loadBookmarkState() {
      const seen = await isBookmarkPostSeen(this.galleryDescriptor.name, this.item.url);
      if (seen != null) {
        this.isNew = !seen;
      }
    },
    async loadThumbBlob() {
      if (this.thumbUrl == null) {
        return;
      }
      if (this.thumbBlobUrl != null) {
        URL.revokeObjectURL(this.thumbBlobUrl);
      }
      const response = await fetch(this.thumbUrl);
      this.thumbBlob = await response.blob();
      this.thumbBlobUrl = URL.createObjectURL(this.thumbBlob);
      this.$emit('load');
    },
    getThumbUrl(item, box, hiRes) {
      let url;
      if (hiRes && item.previewUrl != null && item.previewUrl !== item.fileUrl && item.thumbHeight != null && item.thumbHeight * 2 < box.height) {
        url = item.previewUrl;
      } else {
        url = item.thumbUrl;
      }
      if (!url) {
        if (!item.isSkeleton) {
          this.logger.warn(`No preview URL found for item ${JSON.stringify(item)}`);
        }
        return null;
      }
      return getCachePassthroughUrl(url);
    },
    getDragData() {
      const items = this.getActionableItems();
      if (items) {
        return {
          'text/json': JSON.stringify(items)
        }
      }
    },
    /** @param ev {MouseEvent} */
    onClick(ev) {
      if (this.clickDebounceTask.delayed) {
        this.clickDebounceTask.cancel();
      } else {
        if (ev.detail === 1) {
          this.clickDebounceTask.delay(150);
        } else {
          // Pass the second click after the debounce completion directly
          this.$emit('click', this.thumbBlobUrl);
        }
      }
    },
    onDblClick() {
      this.clickDebounceTask.cancel();
      this.$emit('dblclick', this.thumbBlobUrl);
    },
    onPostAddedToCollection(collectionName, post) {
      if (post.url === this.item.url) {
        this.loadCollections();
      }
    },
    onPostSeenInBookmark(bookmarkName, postUrl) {
      if (this.isBookmark && this.galleryDescriptor.name === bookmarkName && postUrl === this.item.url) {
        this.isNew = false;
      }
    }
  }
}
</script>

<style scoped>
  .px-gallery-item {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    flex-direction: column;
    opacity: 0.8;
    transition: all 0.1s;
    height: 100%;
  }
  .px-gallery-item-selected {
    opacity: 0.95;
  }
  .px-gallery-item-selected-overlay {
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border: 4px var(--px-accent-color-2) solid;
  }
  .px-gallery-item:hover {
    opacity: 1;
  }
  .px-gallery-item .px-badge {
    margin-left: calc(var(--px-margin-spacing) * 0.3);
  }
  .px-gallery-item-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: calc(var(--px-margin-spacing) * 0.5);
  }
  .px-gallery-item-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .px-gallery-item-placeholder-gloss {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: 1.5s infinite px-gallery-item-placeholder linear;
    animation-delay: calc(var(--px-batch-entry-index) * 0.1s);
    opacity: 0;
    background-image: linear-gradient(-80deg, transparent 40%, rgba(255, 255, 255, 0.4) 46%, rgba(255, 255, 255, 0.4) 50%, transparent 60%);
  }

  .placeholder-fade-enter-active,
  .placeholder-fade-leave-active {
    transition: all 0.2s ease;
  }

  .placeholder-fade-enter-from,
  .placeholder-fade-leave-to {
    opacity: 0;
  }

  @keyframes px-gallery-item-placeholder {
    from {
      transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translateX(min(500px, 100%));
      opacity: 1;
    }
  }
</style>