<template>
  <div :class="{ 'px-sidebar': true, 'px-elevated': effectiveExpanded, 'px-sidebar-overlaid': overlayActive, 'px-sidebar-expanded': effectiveExpanded, 'px-sidebar-collapsed': !effectiveExpanded }">
    <div class="px-sidebar-draggable-header" v-if="platform === 'MACOS'"></div>
    <div class="px-sidebar-header px-sidebar-draggable-header px-padding-vt-1 px-padding-hz-2" v-if="headerEnabled">
      <img src="~@/assets/charsy-logo-1c.png" alt="logo" class="px-sidebar-header-logo">
    </div>

    <div class="px-sidebar-expand-container" v-if="screenLayout.orientation === 'VERTICAL'">
      <px-button @click="toggleExpanded" :icon-cls="effectiveExpanded ? 'px-icon-outline-back' : 'px-icon-outline-menu'"></px-button>
    </div>

    <div :class="{ 'px-sidebar-contents': true, 'px-margin-hz-1': true, 'px-padding-vt-1': true }">
    <px-titled-list-item
      class="px-titled-list-header px-text-light px-text-size-3"
      @click="onHomeItemClick()">
      Home
    </px-titled-list-item>
    <px-titled-list title="Services">
      <px-titled-list-item
          v-for="service in services"
          :key="service.name"
          @click="onServiceItemClick(service)">
        {{ service.title }}
      </px-titled-list-item>
    </px-titled-list>

    <px-titled-list title="Bookmarks">
      <template v-slot:header-tools>
        <px-button @click="onCreateBookmarkClick" :flat="true" icon-cls="px-icon-outline-plus" v-if="galleryContext != null && !(galleryContext.pathType === 'bookmark' || galleryContext.pathType === 'collection')">
        </px-button>
      </template>
      <px-sidebar-bookmark-item
        v-for="bookmark in bookmarks"
        :key="bookmark.name"
        :bookmark="bookmark"
        :context-menu-items="[{
            text: 'Modify',
            handler: () => onModifyBookmarkClick(bookmark)
          }, {
            text: 'Remove',
            handler: () => onRemoveBookmarkClick(bookmark)
          }]"
        @click="onBookmarkItemClick(bookmark)">
      </px-sidebar-bookmark-item>
    </px-titled-list>

    <px-titled-list title="Collections">
      <template v-slot:header-tools>
        <px-button @click="onCreateCollectionClick" :flat="true" icon-cls="px-icon-outline-plus"></px-button>
      </template>
      <px-titled-list-item
          v-for="collection in collections"
          :key="collection.name"
          dd-group="dd-group-default"
          :context-menu-items="[{
            text: 'Modify',
            handler: () => onModifyCollectionClick(collection)
          }, {
            text: 'Remove',
            handler: () => onRemoveCollectionClick(collection)
          }]"
          @click="onCollectionItemClick(collection)"
          @drop="(dropData) => onDropToCollection(collection, dropData)">
        {{ collection.name }}
        <template v-slot:header-tools>
          <px-button
              :flat="true"
              :elevated="true"
              v-if="syncingCollectionNames.includes(collection.name)"
              icon-cls="px-icon-outline-sync" />
          <div v-else></div>
        </template>
      </px-titled-list-item>
    </px-titled-list>

    <sidebar-downloads-item/>

    <div class="px-sidebar-fill"></div>

    <px-titled-list-item
        class="px-titled-list-header px-text-light px-text-size-3"
        @click="$refs['preferences-dialog'].show()">
      Preferences
    </px-titled-list-item>

    <px-titled-list-item
        class="px-titled-list-header px-text-light px-text-size-3"
        @click="onAboutItemClick()">
      About
    </px-titled-list-item>

    <teleport to="#px-overlay-target">
    <px-collection-create-dialog ref="collection-create-dialog"></px-collection-create-dialog>
    <px-bookmark-create-dialog ref="bookmark-create-dialog"></px-bookmark-create-dialog>
    <px-about-dialog ref="about-dialog"></px-about-dialog>
    <px-preferences-dialog ref="preferences-dialog"></px-preferences-dialog>
    </teleport>
    </div>
  </div>
</template>

<script>
import { getServiceList } from "@/api/service.ts";
import PxTitledList from "@/components/common/titled-list.vue";
import PxTitledListItem from "@/components/common/titled-list-item.vue";
import { globalEventBus } from "@/event-bus.ts";
import { OVERLAY_HIDE, OVERLAY_SHOW } from "@/ui-events.ts";
import PxCollectionCreateDialog from "@/components/collection/collection-create-dialog.vue";
import { addPostToCollection, removeCollection } from "@/api/storage.ts";
import PxSidebarBookmarkItem from "@/components/sidebar/sidebar-bookmark-item.vue";
import PxButton from "@/components/common/button.vue";
import PxBookmarkCreateDialog from "@/components/bookmark/bookmark-create-dialog.vue";
import { removeBookmark } from "@/api/bookmark.ts";
import useIpcEvents from "@/composables/ipc-event-composable.ts";
import SidebarDownloadsItem from "@/components/sidebar/sidebar-downloads-item.vue";
import { parsePostDropData } from "@/util/drag-and-drop-util";
import { useToasts } from "@/composables/toast-composable";
import { useCollections } from "@/composables/collections-composable";
import PxAboutDialog from "@/components/about/about-dialog.vue";
import _ from 'lodash';
import { usePlatform, useScreenLayout } from "@/composables/platform-composable";
import { useConfirmationDialog } from "@/composables/confirmation-dialog-composable";
import { useBookmarks } from "@/composables/bookmarks-composable";
import { useGalleryContext } from "@/composables/gallery-context-composable";
import PxPreferencesDialog from "@/components/preferences/preferences-dialog.vue";
import { IPC_EVENT_SERVICE_LIST_UPDATE } from '@/electron/api/service-symbols';
export default {
  name: "px-sidebar",
  components: {
    PxPreferencesDialog,
    SidebarDownloadsItem,
    PxBookmarkCreateDialog,
    PxButton,
    PxSidebarBookmarkItem,
    PxCollectionCreateDialog,
    PxTitledListItem,
    PxTitledList,
    PxAboutDialog
  },
  data: function () {
    return {
      services: [],
      overlayActive: false,
      headerEnabled: false,
      expanded: false
    };
  },
  computed: {
    effectiveExpanded() {
      return this.expanded || this.screenLayout.orientation === 'HORIZONTAL';
    }
  },
  emits: {
    expandToggle: null
  },
  setup() {
    const { onIpcEvent } = useIpcEvents(),
        { showErrorToast } = useToasts(),
        { collections, syncingCollectionNames } = useCollections(onIpcEvent),
        { bookmarks } = useBookmarks(onIpcEvent),
        { platform } = usePlatform(),
        { screenLayout } = useScreenLayout(),
        { confirm } = useConfirmationDialog(),
        { context: galleryContext, updateContext: updateGalleryContext } = useGalleryContext();
    return {
      onIpcEvent,
      showErrorToast,
      collections,
      syncingCollectionNames,
      bookmarks,
      platform,
      screenLayout,
      confirm,
      galleryContext,
      updateGalleryContext
    };
  },
  mounted: function () {
    this.loadServices();
    this.globalBus = globalEventBus;
    this.globalBus.on(OVERLAY_SHOW, this.onOverlayShow.bind(this));
    this.globalBus.on(OVERLAY_HIDE, this.onOverlayHide.bind(this));

    this.onIpcEvent(IPC_EVENT_SERVICE_LIST_UPDATE, () => this.loadServices());
  },
  methods: {
    async loadServices() {
      this.services = await getServiceList();
      // FIXME: add new service event
      if (_.isEmpty(this.services)) {
        setTimeout(() => this.loadServices(), 1000);
      }
    },
    onOverlayShow() {
      this.overlayActive = true;
    },
    onOverlayHide() {
      this.overlayActive = false;
    },
    onServiceItemClick(service) {
      this.navigateTo({
        name: 'service-home-screen',
        params: {
          path: `/${service.name}`,
          service: btoa(JSON.stringify(service))
        }
      });
    },
    onCollectionItemClick(collection) {
      this.updateGalleryContext({
        pathType: 'collection',
        path: `/collection/${collection.name}`,
        descriptor: collection
      });
    },
    onCreateCollectionClick() {
      this.$refs['collection-create-dialog'].show();
    },
    onModifyCollectionClick(collection) {
      this.$refs['collection-create-dialog'].show(collection);
    },
    async onRemoveCollectionClick(collection) {
      const result = await this.confirm(`Remove collection ${collection.name}`, 'Proceed?', { confirm: 'Yes', decline: 'No' });
      if (result) {
        await removeCollection(collection);
      }
    },
    onCreateBookmarkClick() {
      if (this.galleryContext != null) {
        this.$refs['bookmark-create-dialog'].show(this.galleryContext.path, this.galleryContext.items?.slice(0, 20) || []);
      }
    },
    onModifyBookmarkClick(bookmark) {
      this.$refs['bookmark-create-dialog'].showEdit(bookmark);
    },
    async onRemoveBookmarkClick(bookmark) {
      const result = await this.confirm(`Remove bookmark ${bookmark.name}`, 'Proceed?', { confirm: 'Yes', decline: 'No' });
      if (result) {
        await removeBookmark(bookmark);
      }
    },
    onBookmarkItemClick(bookmark) {
      this.expanded = false;
      this.updateGalleryContext({
        pathType: 'bookmark',
        path: bookmark.path,
        descriptor: bookmark
      });
    },
    onHomeItemClick() {
      this.navigateTo({
        name: 'home'
      });
    },
    onAboutItemClick() {
      this.$refs['about-dialog'].show();
    },
    async onDropToCollection(collection, dropData) {
      const posts = parsePostDropData(dropData);

      const addPost = async (post) => {
        if (post.type !== 'POST') {
          return;
        }
        try {
          await addPostToCollection(post, collection.name);
        }
        catch (e) {
          this.showErrorToast({
            summary: 'Failed to add post',
            details: e.toString()
          });
        }
      }

      if (posts) {
        await Promise.all(posts.map(post => addPost(post).catch(e => {
          this.showErrorToast({
            summary: 'Failed to add post',
            details: e.toString()
          });
        })));
      }
    },
    toggleExpanded() {
      this.expanded = !this.expanded;
      this.$emit('expandToggle', this.expanded);
    },
    navigateTo(route) {
      this.expanded = false;
      this.$emit('expandToggle', this.expanded);
      this.$router.push(route);
    }
  }
}
</script>

<style scoped>
  .px-sidebar {
    width: 200px;
    height: 100%;
    z-index: 150;
    display: flex;
    flex-direction: column;
    --px-sidebar-header-height: 42px;
    transition: background-color 0.3s;
  }
  .px-sidebar.px-sidebar-overlaid {
    background-color: var(--px-base-background-color);
  }
  .px-sidebar-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .px-sidebar-header-logo {
    object-fit: contain;
    object-position: left;
    height: 100%;
  }
  .px-sidebar-draggable-header {
    -webkit-app-region: drag;
    app-region: drag;
    flex-basis: env(titlebar-area-height, 40px);
  }
  .px-sidebar-header {
    height: var(--px-sidebar-header-height);
    box-sizing: border-box;
    z-index: 100;
  }
  .px-sidebar-fill {
    flex: 1;
  }

  .px-sidebar.px-sidebar-collapsed {
    position: absolute;
    transform: translateX(-100%);
  }
  .px-sidebar .px-sidebar-expand-container {
    position: absolute;
    left: calc(100% + var(--px-margin-spacing) * 2);
    bottom: var(--px-margin-spacing);
  }
</style>

<style>
  .px-app-screen-vertical .px-sidebar {
    position: absolute;
    transform: translateX(0);
    background-color: var(--px-base-background-color);
    transition: transform 0.2s ease;
    width: calc(100% - var(--px-margin-spacing) - 100px);
  }
</style>