<template>
  <px-titled-list-item
      @click="onClick"
      @drop="onDrop"
      dd-group="dd-group-default"
      class="px-titled-list-header px-margin-vt-1 px-text-light px-text-size-3">
      Downloads
      <px-badge v-if="currentDownloadCount > 0">{{ currentDownloadCount }}</px-badge>
  </px-titled-list-item>
</template>

<script>
import useIpcEvents from "@/composables/ipc-event-composable";
import { useDownloads } from "@/composables/downloads-composable";
import PxBadge from "@/components/common/badge.vue";
import PxTitledListItem from "@/components/common/titled-list-item.vue";
import { parsePostDropData } from "@/util/drag-and-drop-util";
import { enqueuePostDownload } from "@/api/download";
import { useToasts } from "@/composables/toast-composable";

export default {
  name: "SidebarDownloadsItem",
  components: { PxBadge, PxTitledListItem },
  computed: {
    currentDownloadCount() {
      return this.downloads
          .filter(download => download.status === 'IN_PROGRESS' || download.status === 'PENDING')
          .length;
    }
  },
  setup() {
    const { onIpcEvent } = useIpcEvents();
    const { downloads } = useDownloads(onIpcEvent);
    const { showErrorToast } = useToasts();
    return {
      onIpcEvent,
      downloads,
      showErrorToast
    };
  },
  methods: {
    onClick() {
      this.$router.push({
        name: 'downloads'
      });
    },
    async onDrop(dropData) {
      const posts = parsePostDropData(dropData);
      if (posts) {
        await Promise.all(posts.map(post => enqueuePostDownload(post)
          .catch(e => {
            this.showErrorToast({
              summary: 'Failed to enqueue post download',
              details: e.toString()
            });
          })));
      }
    }
  }
}
</script>

<style scoped>

</style>