<template>
  <div class="px-sidebar-item" @click="onClick">
    {{ text }}
  </div>
</template>

<script>
export default {
  name: "px-sidebar-item",
  props: {
    text: String
  },
  methods: {
    onClick: function (event) {
      event.stopPropagation();
      this.$emit('click');
    }
  }
}
</script>

<style scoped>

</style>