<template>
  <px-titled-list-item
      class="px-sidebar-bookmark-item"
      @click="onClick">
    <span class="px-sidebar-bookmark-item-content">
      {{ bookmark.name }}
    </span>
    <px-badge v-if="unseenPostCount != null && unseenPostCount > 0">
      {{unseenPostCount}}
    </px-badge>
    <template v-slot:header-tools>
      <px-button :flat="true" :elevated="true" v-if="syncing" icon-cls="px-icon-outline-sync"></px-button>
      <px-button @click="onCleanUnseenClick(bookmark)" :flat="true" :elevated="true" v-else-if="unseenPostCount > 0" icon-cls="px-icon-outline-checkmark"></px-button>
      <div v-else></div>
    </template>
  </px-titled-list-item>
</template>

<script>
import PxTitledListItem from "@/components/common/titled-list-item.vue";
import PxBadge from "@/components/common/badge.vue";
import {
  IPC_EVENT_BOOKMARK_UNSEEN_CLEAR, IPC_EVENT_BOOKMARK_UNSEEN_UPDATED,
  IPC_EVENT_BOOKMARK_UPDATE_FINISHED,
  IPC_EVENT_BOOKMARK_UPDATE_STARTED
} from "@/electron/api/bookmark-symbols.ts";
import {getBookmarkUnseenPostCount, markAllPostsForBookmarkAsSeen} from "@/api/bookmark.ts";
import PxButton from "@/components/common/button.vue";
import useIpcEvents from "@/composables/ipc-event-composable.ts";
export default {
  name: "px-sidebar-bookmark-item",
  components: {
    PxButton,
    PxBadge,
    PxTitledListItem
  },
  emits: {
    click: null
  },
  props: {
    bookmark: {
      type: Object,
      required: true
    }
  },
  data: function () {
    return {
      unseenPostCount: null,
      syncing: false
    }
  },
  setup() {
    const { onIpcEvent } = useIpcEvents();
    return {
      onIpcEvent
    };
  },
  async mounted() {
    this.onIpcEvent(IPC_EVENT_BOOKMARK_UPDATE_STARTED, this.onBookmarkUpdateStarted.bind(this));
    this.onIpcEvent(IPC_EVENT_BOOKMARK_UPDATE_FINISHED, this.onBookmarkUpdateFinished.bind(this));
    this.onIpcEvent(IPC_EVENT_BOOKMARK_UNSEEN_CLEAR, this.onBookmarkUpdateFinished.bind(this));
    this.onIpcEvent(IPC_EVENT_BOOKMARK_UNSEEN_UPDATED, this.onBookmarkUpdateFinished.bind(this));
    this.unseenPostCount = await getBookmarkUnseenPostCount(this.bookmark.name);
  },
  methods: {
    onClick() {
      this.$emit('click');
    },
    onCleanUnseenClick() {
      markAllPostsForBookmarkAsSeen(this.bookmark.name);
    },
    onBookmarkUpdateStarted(bookmarkName) {
      if (this.bookmark.name === bookmarkName) {
        this.syncing = true;
      }
    },
    onBookmarkUpdateFinished(bookmarkName, unseenPostCount) {
      if (this.bookmark.name === bookmarkName) {
        this.unseenPostCount = unseenPostCount;
        this.syncing = false;
      }
    }
  }
}
</script>

<style>
  .px-sidebar-bookmark-item .px-titled-list-item-content {
    display: flex;
  }
  .px-sidebar-bookmark-item .px-sidebar-bookmark-item-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>