<template>
  <div :class="{
      'px-badge': true,
      'px-text-size-1': true,
      'px-badge-actionable': actionable
    }"
    @click="onClick">
    <slot>

    </slot>
  </div>
</template>

<script>
export default {
  name: "px-badge",
  props: {
    actionable: {
      type: Boolean,
      default: false
    }
  },
  emits: {
    click: null
  },
  methods: {
    onClick() {
      if (this.actionable) {
        this.$emit('click');
      }
    }
  }
}
</script>

<style scoped>
  .px-badge {
    --px-badge-color: var(--px-accent-color);
    --px-badge-text-color: var(--px-accent-color-text);
    display: inline-block;
    background-color: var(--px-badge-color);
    color: var(--px-badge-text-color);
    padding: calc(var(--px-text-size-base) * 0.15) calc(var(--px-text-size-base) * 0.3) calc(var(--px-text-size-base) * 0.1) calc(var(--px-text-size-base) * 0.3);
    border-radius: 999px;
    height: max-content;
    min-width: 1em;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
  }
  .px-badge-actionable:hover {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  }
</style>