<template>
  <div :class="{
        'px-button': true,
        'px-button-icon-only': iconOnly,
        'px-elevated': elevated,
        'px-button-flat': flat,
        'px-text-size-3': true
      }"
       @click="e => onClick(e)">
    <div :class="['px-icon', 'px-button-icon', iconCls]" v-if="iconCls != null"></div>
    <span v-if="text != null" class="px-button-text">{{ text }}</span>
  </div>
</template>

<script>
export default {
  name: "px-button",
  props: {
    text: String,
    iconCls: String,
    iconOnly: {
      type: Boolean,
      default: false
    },
    elevated: {
      type: Boolean,
      default: false
    },
    flat: {
      type: Boolean,
      default: false
    }
  },
  emits: {
    click: null
  },
  methods: {
    onClick(e) {
      this.$emit('click', e);
    }
  }
}
</script>

<style scoped>
  .px-button {
    --px-button-background-color: var(--px-accent-color);
    --px-button-color: var(--px-accent-color-text);
    --px-button-padding: 4px;
    background-color: var(--px-button-background-color);
    border-radius: 999px;
    padding: var(--px-button-padding);
    display: inline-flex;
    color: var(--px-button-color);
    align-items: center;
    cursor: default;
    transition: 0.1s ease;
    transition-property: background-color, box-shadow, filter;
  }
  .px-button.px-button-flat {
    --px-button-padding: 3px;
    background-color: transparent;
  }
  .px-button.px-button-flat.px-elevated:not(:hover) {
    box-shadow: none;
  }
  .px-button.px-button-flat:hover {
    background-color: var(--px-button-background-color);
  }
  .px-button:hover {
    filter: brightness(1.15) contrast(0.85);
  }
  .px-button-icon {
    --px-icon-size: 18px;
    width: var(--px-icon-size);
    height: var(--px-icon-size);
    display: inline-block;
    transition: filter 0.1s ease;
  }
  .px-button-icon-only .px-button-icon {
    display: block;
  }
  .px-button.px-button-flat:not(:hover) .px-button-icon {
    /* FIXME */
    filter: contrast(0) brightness(1.7);
  }
  .px-icon.px-icon-fill-search {
    background-image: url("~@/assets/icons/eva/fill/svg/search.svg");
  }
  .px-icon.px-icon-outline-close {
    background-image: url("~@/assets/icons/eva/outline/svg/close-outline.svg");
  }
  .px-icon.px-icon-outline-plus {
    background-image: url("~@/assets/icons/eva/outline/svg/plus-outline.svg");
  }
  .px-icon.px-icon-outline-minus {
    background-image: url("~@/assets/icons/eva/outline/svg/minus-outline.svg");
  }
  .px-icon.px-icon-outline-checkmark {
    background-image: url("~@/assets/icons/eva/outline/svg/checkmark-outline.svg");
  }
  .px-icon.px-icon-outline-sync {
    background-image: url("~@/assets/icons/eva/outline/svg/sync-outline.svg");
  }
  .px-icon.px-icon-outline-back {
    background-image: url("~@/assets/icons/eva/outline/svg/arrow-back-outline.svg");
  }
  .px-icon.px-icon-outline-forward {
    background-image: url("~@/assets/icons/eva/outline/svg/arrow-forward-outline.svg");
  }
  .px-icon.px-icon-outline-menu {
    background-image: url("~@/assets/icons/eva/outline/svg/menu-outline.svg");
  }
  .px-icon.px-icon-outline-ellipsis {
    background-image: url("~@/assets/icons/eva/outline/svg/more-horizontal-outline.svg");
  }
  .px-button-text {
    margin: 0 calc(var(--px-button-padding) * 1.6);
  }
  .px-button-accent-b {
    --px-button-background-color: var(--px-accent-color-2);
    --px-button-color: var(--px-accent-color-text-highlight);
  }
</style>

<style>
  .px-app-screen-small .px-button-icon {
    --px-icon-size: 28px;
  }
</style>