<template>
  <div class="px-combobox">
    <div class="px-combobox-field" @click="onFieldClick">
      <span :class="{ 'px-combobox-label': true, 'px-combobox-label-offset': effectiveSelectedItem }">{{label}}</span>
      <div v-if="effectiveSelectedItem">
        <slot name="item-template" :item="effectiveSelectedItem">
          {{effectiveSelectedItem[keyField]}}
        </slot>
      </div>
      <div v-else>
        &nbsp;
      </div>
    </div>

    <px-list v-if="expanded" ref="optionList" :items="items" :item-key="valueField" @selectionSubmit="onListSelection" :selection="effectiveSelectedItem">
      <template #item-template="{ item }">
        <slot name="item-entry-template" :item="item">
          {{item}}
        </slot>
      </template>
    </px-list>
  </div>
</template>

<script>
import PxList from './list.vue';
import _ from 'lodash';
export default {
  name: 'px-combobox',
  components: { PxList },
  props: {
    items: Array,
    keyField: String,
    valueField: String,
    selectedItem: [Object, String],
    label: String
  },

  data() {
    return {
      expanded: false,
      currentSelection: null
    }
  },

  computed: {
    effectiveSelectedItem() {
      return _.isString(this.currentSelection) ? this.items.find(x => x[this.valueField] === this.currentSelection) : this.currentSelection;
    }
  },

  emits: {
    'update:selectedItem': null
  },

  mounted() {
    this.currentSelection = this.selectedItem;
  },

  methods: {
    onFieldClick() {
      this.expanded = !this.expanded;
      if (this.expanded) {
        this.$nextTick(() => this.$refs.optionList.focus());
      }
    },

    onListSelection(item) {
      this.currentSelection = item;
      this.$emit('update:selectedItem', item[this.valueField]);
      this.expanded = false;
    }
  }
}
</script>

<style scoped>
  .px-combobox {
    user-select: none;
    position: relative;
  }

  .px-combobox-field {
    width: 100%;
  }

  .px-combobox-field > :last-child {
    width: 100%;
    padding: 10px var(--px-form-field-side-offset) 2px var(--px-form-field-side-offset);
  }

  .px-combobox-label {
    opacity: 0.5;
    color: var(--px-text-field-color);
    position: absolute;
    left: var(--px-form-field-side-offset);
    transition: transform 0.1s, opacity 0.1s;
    transform-origin: left;
    transform: translate(0, 10px);
  }

  .px-combobox-label.px-combobox-label-offset {
    opacity: 0.7;
    transform: scale(0.7) translate(0, -8px);
  }

  .px-combobox > .px-list {
    z-index: 1000;
    position: absolute;
    left: 0;
    width: 100%;
  }
</style>