<template>
  <px-overlay ref="overlay" @hide="onHide">
    <template v-slot:header>
      {{title || 'Confirmation'}}
    </template>

    <div>
      {{body}}
    </div>

    <template v-slot:footer>
      <px-button @click="onConfirmClick" :text="confirmText || 'Confirm'" class="px-button-accent-b"></px-button>
      <px-button @click="onDeclineClick" :text="declineText || 'Decline'"></px-button>
    </template>
  </px-overlay>
</template>

<script>
import PxOverlay from "@/components/layout/overlay.vue";
import PxButton from "@/components/common/button.vue";

export default {
  name: 'PxConfirmationDialog',

  components: {
    PxOverlay,
    PxButton
  },

  emits: {
    action: null
  },

  data() {
    return {
      title: null,
      body: null,
      confirmText: null,
      declineText: null,
      action: null
    };
  },

  methods: {
    clearData() {
      this.title = null;
      this.body = null;
      this.confirmText = null;
      this.declineText = null;
      this.action = null;
    },

    hide() {
      this.$refs.overlay.hide();
    },

    show(title, body, buttons) {
      this.clearData();
      this.title = title;
      this.body = body;
      if (buttons) {
        this.confirmText = buttons.confirm;
        this.declineText = buttons.decline;
      }
      this.$refs.overlay.show();
    },

    onHide() {
      this.onAction(false);
    },

    onConfirmClick() {
      this.onAction(true);
    },

    onDeclineClick() {
      this.onAction(false);
    },

    onAction(result) {
      if (this.action == null) {
        this.action = result;
        this.$emit('action', result);
        this.hide();
      }
    }
  }
}
</script>

<style scoped>

</style>