<template>
  <div :class="[
        'px-context-menu',
        'px-elevated',
        shown ? 'px-context-menu-visible' : 'px-context-menu-hidden',
        nested ? 'px-context-menu-nested' : '',
        `px-context-menu-${direction}`
      ]"
      :style="{
        '--px-context-menu-x': position.x ? `${position.x}px` : undefined,
        '--px-context-menu-y': position.y ? `${position.y}px` : undefined,
        '--px-context-menu-width': width ? `${width}px` : undefined
      }">
    <div v-for="(item, idx) in items" :key="idx" class="px-context-menu-item" @click="onItemClick(item)">
      {{ item.text }}
      <px-context-menu
          v-if="item.items != null && item.items.length > 0"
          :initial-items="item.items"
          :nested="true"
          :initial-direction="direction"
          :initial-shown="item.expanded"
          @hide="onItemHide(item)"/>
    </div>
  </div>
</template>

<script>
import { CONTEXT_MENU_OPEN_REQUEST } from "@/ui-events";
import { globalEventBus } from "@/event-bus";
import _ from 'lodash';

export default {
  name: 'PxContextMenu',
  props: {
    initialItems: Array,
    nested: Boolean,
    initialDirection: {
      type: String,
      default: 'down'
    },
    initialShown: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      shown: false,
      direction: 'down',
      items: null,
      position: {},
      width: null
    }
  },
  emits: {
    hide: null
  },
  watch: {
    initialItems(value) {
      this.items = value;
    },
    initialShown(value) {
      this.shown = value;
    },
    initialDirection(value) {
      this.direction = value;
    }
  },
  mounted() {
    this.items = this.initialItems;
    this.direction = this.initialDirection;
    if (this.initialShown) {
      this.shown = this.initialShown;
    }
    if (!this.nested) {
      globalEventBus.on(CONTEXT_MENU_OPEN_REQUEST, this.onOpenRequest.bind(this));
    }
    document.addEventListener('click', this.onDocumentClick.bind(this));
  },
  methods: {
    onOpenRequest(ev, items, options) {
      if (!_.isEmpty(items)) {
        this.items = _.cloneDeep(items);
        this.position = {
          x: ev.pageX + 2,
          y: ev.pageY + 2
        };
        this.direction = options?.direction || 'down';
        window.setTimeout(() => {
          this.shown = true;
          this.width = this.$el.clientWidth;
        });
      }
    },
    /**
     * @param ev {MouseEvent}
     */
    onDocumentClick(ev) {
      if (!this.shown || this.nested) {
        return;
      }
      let el = ev.target,
        inMenu = false;
      while (el) {
        if (el.classList && el.classList.contains('px-context-menu')) {
          inMenu = true;
          break;
        }
        el = el.parentNode;
      }
      if (!inMenu) {
        this.shown = false;
      }
    },
    onItemClick(item) {
      if (item.handler) {
        item.handler();
        this.shown = false;
        this.$emit('hide');
      } else {
        item.expanded = true;
      }
    },
    onItemHide() {
      this.shown = false;
    }
  }
}
</script>

<style scoped>
  .px-context-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--px-base-background-color);
    transition: opacity 0.1s ease;
    z-index: 1000;
    border-radius: var(--px-round-radius-1);
  }
  .px-context-menu.px-context-menu-up {
    transform: translate(-100%, -100%);
  }
  .px-context-menu.px-context-menu-nested.px-context-menu-up {
    transform: translate(calc(-100% - var(--px-context-menu-width)), calc(-100% + var(--px-margin-spacing) * 0.8 + var(--px-text-size-base) * 1.5));
  }
  .px-context-menu:not(.px-context-menu-nested) {
    /* Defined programmatically */
    --px-context-menu-x: 0px;
    --px-context-menu-y: 0px;
    --px-context-menu-width: 0px;

    position: fixed;
    left: var(--px-context-menu-x);
    top: var(--px-context-menu-y);
  }
  .px-context-menu:not(.px-context-menu-nested).px-context-menu-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .px-context-menu:not(.px-context-menu-nested).px-context-menu-visible {
    opacity: 1;
    pointer-events: all;
  }
  .px-context-menu-item {
    position: relative;
    overflow: visible;
    padding: calc(var(--px-margin-spacing) * 0.4) calc(var(--px-margin-spacing) * 1);
    transition: all 0.1s ease;
    white-space: nowrap;
    cursor: default;
  }
  .px-context-menu-nested {
    position: absolute;
    left: 100%;
    top: 0;
    transition-delay: 0.5s;
  }
  .px-context-menu-item:not(:hover) .px-context-menu-nested:not(.px-context-menu-visible) {
    opacity: 0;
    pointer-events: none;
  }
  .px-context-menu-item:hover {
    background-color: var(--px-accent-color-highlight);
    color: var(--px-accent-color-text-highlight);
    border-radius: var(--px-round-radius-1);
  }
</style>