<template>
  <object type="image/svg+xml" :data="'~@/assets/icons/eva/' + relPath">
  </object>
</template>

<script>
export default {
  name: "px-icon",
  props: {
    relPath: {
      type: String,
      required: true
    },
    color: {
      type: String,
      default: 'black'
    }
  }
}
</script>

<style scoped>

</style>