<template>
  <ul class="px-list" @keydown="onKeyDown" ref="root">
    <li :class="{
            'px-list-item': true,
            'px-padding-hz-1': true,
            'px-list-item-selected': currentSelection === item[itemKey],
            'px-list-item-dragover': dragOverKey === item[itemKey]
          }"
         v-for="item in items"

         :key="item[itemKey]"
         :data-key="item[itemKey]"

         tabindex="-1"
         draggable="true"

         @focus="onItemFocus(item)"
         @click="onItemClick(item)"
         @dragstart="ev => onItemDragStart(ev, item)"
         @dragend="ev => onItemDragEnd(ev, item)"
         @dragenter="ev => onItemDragEnter(ev, item)"
         @dragleave="ev => onItemDragLeave(ev, item)"
         @dragover="ev => onItemDragOver(ev, item)"
         @drop="ev => onItemDrop(ev, item)" >
      <slot name="item-template" :item="item" />
    </li>
  </ul>
</template>

<script>
import { ref } from "vue";
import _ from "lodash";

export default {
  name: "px-list",

  props: {
    items: Array,
    itemKey: String,
    selection: {
      type: Object,
      required: false
    }
  },

  emits: {
    'update:items': null,
    'update:selection': null,
    'selectionSubmit': null
  },

  data() {
    return {
      dragOverKey: null
    }
  },

  setup(props) {
    const currentSelection = ref(props.selection?.[props.itemKey]);
    return {
      currentSelection
    };
  },

  methods: {
    onItemFocus(item) {
      this.currentSelection = item[this.itemKey];
      this.$emit('update:selection', item);
    },

    onItemClick(item) {
      this.$emit('selectionSubmit', item);
    },

    /**
     * @param ev {DragEvent}
     */
    onItemDragStart(ev, item) {
      ev.dataTransfer.effectAllowed = 'move';
      ev.dataTransfer.setData('application/list-key', item[this.itemKey]);
    },

    onItemDragEnd() {
      this.dragOverKey = null;
    },

    /**
     * @param ev {DragEvent}
     */
    onItemDragEnter(ev, item) {
      if (!ev.dataTransfer.types.includes('application/list-key')) {
        return;
      }
      ev.dataTransfer.dropEffect = 'move';
      this.dragOverKey = item[this.itemKey];
    },

    onItemDragLeave(ev, item) {
      if (this.dragOverKey === item[this.itemKey]) {
        this.dragOverKey = null;
      }
    },

    /**
     * @param ev {DragEvent}
     */
    onItemDragOver(ev) {
      ev.preventDefault();
    },

    onItemDrop(ev, item) {
      const draggedKey = ev.dataTransfer.getData('application/list-key');
      if (!this.dragOverKey || !draggedKey) {
        ev.preventDefault();
        return;
      }

      const ratio = ev.offsetY / ev.target.clientHeight,
        overItemIndex = this.items.findIndex(x => x[this.itemKey] === item[this.itemKey]),
        draggedItem = this.items.find(x => x[this.itemKey] === draggedKey);
      let newItems = _.clone(this.items).filter(x => x[this.itemKey] !== draggedKey);

      if (ratio > 0.5) {
        if (overItemIndex === newItems.length) {
          newItems.push(draggedItem);
        } else {
          newItems = _.concat(newItems.slice(0, overItemIndex + 1), draggedItem, newItems.slice(overItemIndex + 1));
        }
      } else {
        if (overItemIndex === 0) {
          newItems.unshift(draggedItem);
        } else {
          newItems = _.concat(newItems.slice(0, overItemIndex), draggedItem, newItems.slice(overItemIndex));
        }
      }

      this.$emit('update:items', newItems);

      this.dragOverKey = null;
    },

    /**
     * @param ev {KeyboardEvent}
     */
    onKeyDown(ev) {
      const itemIndex = this.currentSelection && this.items.findIndex(x => x[this.itemKey] === this.currentSelection);
      if (itemIndex == null) {
        return;
      }

      let nextKey;
      if (ev.key === 'ArrowDown' && itemIndex < this.items.length - 1) {
        nextKey = this.items[itemIndex + 1][this.itemKey];
      } else if (ev.key === 'ArrowUp' && itemIndex > 0) {
        nextKey = this.items[itemIndex - 1][this.itemKey];
      }

      if (nextKey != null) {
        ev.preventDefault();
        ev.stopPropagation();
        this.$refs.root.querySelector(`[data-key="${nextKey}"]`).focus();
        return;
      }

      if (ev.key === 'Enter') {
        this.$emit('selectionSubmit', this.items[itemIndex]);
      }
    },

    focus() {
      let child;
      if (this.currentSelection) {
        this.$refs.root.querySelector(`li[data-key="${this.currentSelection[this.itemKey]}"]`)
      } else {
        child = this.$refs.root.querySelector('li');
      }
      if (child) {
        child.focus();
      }
    }
  }
}
</script>

<style scoped>
  .px-list {
    --px-list-border-radius: var(--px-overlay-border-radius);
    background-color: var(--px-background-color-ligher);
    border: 1px solid var(--px-card-border-color);
    margin-block: 0;
    padding: 0;
  }

  .px-list-item {
    display: block;
    user-select: none;
    transition: background-color 0.05s, color 0.05s;
  }

  .px-list-item:hover {
    background-color: var(--px-accent-color-highlight);
    color: var(--px-accent-color-text);
  }

  .px-list-item.px-list-item-selected {
    background-color: var(--px-accent-color-2);
    color: var(--px-accent-color-text-highlight);
  }

  .px-list-item.px-list-item-dragover {
    background-color: var(--px-accent-color);
    color: var(--px-accent-color-text);
  }

  .px-list-item:focus-visible {
    outline: 1px solid var(--px-accent-color);
  }
</style>