<template>
  <div :class="['px-loading-indicator', 'px-elevated', visible ? 'px-loading-indicator-visible' : '']">
    <div class="px-loading-indicator-icon" />
  </div>
</template>

<script>
export default {
  name: "PxLoadingIndicatorOverlay",
  props: {
    visible: Boolean
  }
}
</script>

<style scoped>
  .px-loading-indicator {
    --px-loading-indicator-size: 36px;
    border-radius: 9999px;
    background-color: var(--px-accent-color);
    display: inline-block;
    position: absolute;
    right: calc(var(--px-margin-spacing) * 2);
    bottom: calc(var(--px-margin-spacing) * 2);
    pointer-events: none;
    width: var(--px-loading-indicator-size);
    height: var(--px-loading-indicator-size);

    transition: all 0.1s ease-in-out;

    opacity: 0;
    transform: translateY(12px);
  }

  .px-loading-indicator.px-loading-indicator-visible {
    opacity: 1;
    transform: translateY(0px);
  }

  .px-loading-indicator-icon {
    background-image: url("~@/assets/icons/eva/fill/svg/refresh.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    animation: 1s infinite linear px-loading-indicator-spin;
  }

  @keyframes px-loading-indicator-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>