<template>
  <div class="px-switch" @click="onClick">
    <span v-if="label">{{label}}</span>
    <div :class="{ 'px-switch-toggle': true, 'px-switch-toggle-on': currentValue }">
      <div class="px-switch-toggle-track"></div>
      <div class="px-switch-toggle-pin px-elevated"></div>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';

export default {
  name: 'px-switch',

  props: {
    label: String,
    value: Boolean
  },

  emits: {
    'update:value': null
  },

  setup(props) {
    const currentValue = ref(props.value);
    return {
      currentValue
    };
  },

  methods: {
    onClick() {
      this.currentValue = !this.currentValue;
      this.$emit('update:value', this.currentValue);
    }
  }
}
</script>

<style scoped>
  .px-switch {
    display: flex;
    align-items: center;
  }

  span {
    flex: 1;
    padding: 0 var(--px-form-field-side-offset) 2px var(--px-form-field-side-offset);
  }

  .px-switch-toggle {
    --px-toggle-height: 18px;
    --px-toggle-width: 28px;
    --px-toggle-track-height: 10px;

    width: var(--px-toggle-width);
    height: var(--px-toggle-height);
    padding: calc((var(--px-toggle-height) - var(--px-toggle-track-height)) / 2) 0;
    box-sizing: border-box;
    position: relative;
  }

  .px-switch-toggle .px-switch-toggle-track {
    opacity: 0.7;
    width: 100%;
    height: var(--px-toggle-track-height);
    background-color: var(--px-base-text-color);
    border-radius: 999px;

    transition: background-color 0.1s;
  }

  .px-switch-toggle .px-switch-toggle-pin {
    position: absolute;
    width: var(--px-toggle-height);
    height: var(--px-toggle-height);
    top: 0;
    background-color: var(--px-base-text-color);
    border-radius: 999px;

    transition: background-color 0.1s, transform 0.1s;
  }

  .px-switch-toggle-on .px-switch-toggle-track {
    background-color: var(--px-accent-color-2-acrylic);
  }

  .px-switch-toggle-on .px-switch-toggle-pin {
    background-color: var(--px-accent-color-2);
    transform: translateX(calc(var(--px-toggle-width) - var(--px-toggle-height)));
  }
</style>