<template>
  <div class="px-tab-strip">
    <div
        v-for="tab in tabs"
        :class="{
          'px-tab-strip-item': true,
          'px-padding-1': true,
          'px-tab-strip-item-active': getTabKey(tab) === (activeTab && getTabKey(activeTab))
        }"
        :key="getTabKey(tab)"
        @click="onTabClick(tab)">
      <slot name="item-template" :item="tab">
        {{ tab }}
      </slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'px-tab-strip',

  props: {
    tabs: Array,
    tabKey: {
      type: String,
      required: false
    },
    activeTab: {
      type: [Object, String],
      required: false
    }
  },

  emits: {
    'update:activeTab': null
  },

  methods: {
    getTabKey(tab) {
      return this.tabKey ? tab[this.tabKey] : tab;
    },

    onTabClick(tab) {
      this.$emit('update:activeTab', tab);
    }
  },

  mounted() {
    if (!this.activeTab) {
      this.$emit('update:activeTab', this.tabs[0]);
    }
  }
}
</script>

<style scoped>
  .px-tab-strip {
    display: flex;
  }

  .px-tab-strip-item {
    user-select: none;
    cursor: pointer;
    transition: background-color 0.05s, color 0.05s;
  }

  .px-tab-strip-item:hover {
    background-color: var(--px-accent-color-highlight);
    color: var(--px-accent-color-text-highlight);
  }

  .px-tab-strip-item.px-tab-strip-item-active {
    border-top: 2px var(--px-accent-color-2) solid;
    box-sizing: border-box;
  }
</style>