<template>
  <label :class="{ 'px-text-field-labeled': label != null }">
    <span :class="{ 'px-text-field-label-offset': hasValue }" v-if="label != null || (placeholder != null && !hasValue)">{{ label || placeholder }}</span>
    <input ref="input" v-if="!multiline" :value="value" @input="onInput" @keydown="onKeyDown" class="px-text-size-5">
    <textarea ref="input" v-if="multiline" :value="value" @input="onInput" class="px-text-size-5"></textarea>
  </label>
</template>

<script>
import _ from 'lodash';

export default {
  name: "px-text-field",
  props: {
    label: String,
    placeholder: String,
    value: String,
    multiline: {
      type: Boolean,
      default: false
    }
  },
  emits: {
    'update:value': null,
    'submit': null,
    'ready': null
  },
  computed: {
    hasValue() {
      return !_.isEmpty(this.value);
    }
  },
  mounted() {
    this.$emit('ready');
  },
  methods: {
    onInput(ev) {
      this.$emit('update:value', ev.target.value);
    },
    onKeyDown(event) {
      if (event.key === 'Enter') {
        this.$emit('submit', this.value);
      }
    },
    focus() {
      this.$refs.input.focus();
    },
    hasFocus() {
      return document.activeElement === this.$refs.input;
    }
  }
}
</script>

<style scoped>
  label {
    display: flex;
    flex-direction: row;
    position: relative;
    --px-text-field-color: var(--px-base-text-color);
  }

  label > span {
    opacity: 0.5;
    color: var(--px-text-field-color);
    position: absolute;
    pointer-events: none;
    left: var(--px-form-field-side-offset);
    transition: transform 0.1s, opacity 0.1s;
    transform-origin: left;
  }

  label.px-text-field-labeled > span {
    transform: translate(0, 10px);
  }

  label > span.px-text-field-label-offset {
    opacity: 0.7;
    transform: scale(0.7) translate(0, -8px);
  }

  label > :not(span) {
    flex: 1;
    min-width: 100px;
  }
  input, textarea {
    font-family: inherit;
    color: var(--px-text-field-color);
    background-color: transparent;
    border: none;
    border-bottom: 1px var(--px-text-field-color) solid;
    padding: 0 var(--px-form-field-side-offset) 2px var(--px-form-field-side-offset);
  }
  .px-text-field-labeled input, .px-text-field-labeled textarea {
    padding: 10px var(--px-form-field-side-offset) 2px var(--px-form-field-side-offset);
  }

  input:focus, textarea:focus {
    border-bottom: 2px var(--px-text-field-color) solid;
    outline: none;
  }

  label.px-text-field-light {
    --px-text-field-color: var(--px-base-background-color);
  }

  label.px-text-field-acrylic {
    --px-text-field-color: var(--px-accent-color-text-highlight);
  }
</style>