<template>
  <div :class="{
        'px-titled-list-item': true,
        'px-titled-list-item-drop-valid': dragOverValid,
        'px-titled-list-item-drop-accepted': dropAcceptedRecently,
        'px-rounded-1': true
      }"
      ref="root"
      :tabindex="focusable ? false : -1"
      @drop="onDrop">
    <div class="px-titled-list-item-drop-effect" v-if="dropAcceptedRecently"></div>
    <div class="px-titled-list-item-content" @click="onClick">
      <slot></slot>
    </div>
    <div class="px-titled-list-item-tools">
      <slot name="header-tools"></slot>
    </div>
  </div>
</template>

<script>
import { useDropTarget } from "@/composables/drop-target.ts";
import { ref, toRef } from "vue";
import { DelayedTask } from "@/electron/util/delayed-task.ts";
import { useContextMenu } from "@/composables/context-menu-composable";

export default {
  name: "px-titled-list-item",
  props: {
    ddGroup: {
      type: String,
      default: 'dd-no-group'
    },
    matchDrop: {
      type: Function,
      default: undefined
    },
    focusable: {
      type: Boolean,
      default: false
    },
    contextMenuItems: Array
  },
  data: function () {
    return {
      dropAcceptedRecently: false
    }
  },
  emits: {
    click: null
  },
  setup(props, { emit }) {
    const root = ref(null);
    const { dragOverValid } = useDropTarget(root, emit, undefined, props.ddGroup, props.matchDrop);
    useContextMenu(root, toRef(props, 'contextMenuItems'));
    return {
      dragOverValid,
      root
    };
  },
  methods: {
    onClick(event) {
      event.preventDefault();
      event.stopPropagation();
      this.$el.blur();
      this.$emit('click');
    },
    onDrop() {
      if (this.dropAcceptedStateResetTask == null) {
        this.dropAcceptedStateResetTask = new DelayedTask(() => {
          this.dropAcceptedRecently = false;
        });
      }
      this.dropAcceptedRecently = true;
      this.dropAcceptedStateResetTask.delay(1000);
    }
  }
}
</script>

<style scoped>
  .px-titled-list-item {
    position: relative;
    overflow: visible;
  }

  .px-titled-list-item:focus {
    outline: none;
  }

  .px-titled-list-item-drop-effect {
    z-index: -100;
    pointer-events: none;
    background-color: var(--px-accent-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: 0.3s 1 px-titled-list-item-drop-accepted-effect;
    animation-fill-mode: forwards;
  }

  @keyframes px-titled-list-item-drop-accepted-effect {
    from {
      opacity: 1;
      transform: none;
    }
    to {
      opacity: 0;
      transform: scaleY(2);
    }
  }
</style>