<template>
  <div class="px-titled-list">
    <px-titled-list-item class="px-titled-list-header px-margin-vt-1 px-text-light px-text-size-3" @click="onHeaderClick">
      {{ title }}
      <template v-slot:header-tools>
        <slot name="header-tools"></slot>
      </template>
    </px-titled-list-item>
    <transition-group name="titled-list-collapse-fade">
      <slot v-if="collapsed_ === false"></slot>
    </transition-group>
  </div>
</template>

<script>
import PxTitledListItem from "@/components/common/titled-list-item.vue";
export default {
  name: "px-titled-list",
  components: {
    PxTitledListItem
  },
  props: {
    title: {
      type: String,
      default: 'Header'
    },
    collapsed: {
      type: Boolean,
      default: false
    }
  },
  data: function() {
    return {
      collapsed_: this.collapsed
    };
  },
  methods: {
    onHeaderClick() {
      this.collapsed_ = !this.collapsed_;
      this.$emit(this.collapsed_ ? 'collapse' : 'expand');
    }
  }
}
</script>

<style>
  .px-titled-list {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
  .px-titled-list-item {
    padding-left: calc(var(--px-margin-spacing) * 2);
    padding-right: var(--px-margin-spacing);
    padding-top: calc(var(--px-margin-spacing) * 0.3);
    padding-bottom: calc(var(--px-margin-spacing) * 0.3);
    display: flex;
    transition: background-color 0.05s, color 0.1s;
    justify-content: safe flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
  }
  .px-titled-list-item:hover, .px-titled-list-item:focus {
    background-color: var(--px-accent-color-highlight);
    color: var(--px-accent-color-text-highlight);
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  }
  .px-titled-list-header {
    padding-left: var(--px-margin-spacing);
    color: var(--px-header-color);
    height: 24px;
  }
  .px-titled-list-item-content {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: transform 0.05s;
    margin: auto;
  }
  .px-titled-list-item-tools {
    display: flex;
    align-items: center;
  }
  .px-titled-list-item-drop-valid {
    background-color: var(--px-accent-color-3);
    color: var(--px-accent-color-text-highlight);
  }

  .px-titled-list-item:hover .px-titled-list-item-content, .px-titled-list-item-drop-valid .px-titled-list-item-content {
    transform: translateX(calc(var(--px-margin-spacing) * 0.4));
  }

  .px-titled-list-item.px-titled-list-item-drop-accepted {
    animation: 0.3s 1 px-titled-list-item-drop-accepted;
  }

  @keyframes px-titled-list-item-drop-accepted {
    from {
      background-color: white;
    }
  }

  /* Transitions */

  .titled-list-collapse-fade-enter-active,
  .titled-list-collapse-fade-leave-active {
    transition: transform 0.2s ease, opacity 0.2s ease;
    pointer-events: none;
    z-index: -100;
  }

  .titled-list-collapse-fade-enter-from,
  .titled-list-collapse-fade-leave-to {
    opacity: 0;
    transform: translate(-100px, 0px);
  }

  .titled-list-collapse-fade-enter-to,
  .titled-list-collapse-fade-leave-from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
</style>