<template>
  <div class="px-toast-container px-padding-2">
    <transition-group name="px-toast-transition">
      <div v-for="toast in toasts" :key="toast.globalIndex" :class="['px-toast', 'px-elevated', ...toast.classList]">
        <div class="px-toast-summary px-text-size-5 px-text-light">{{ toast.summary }}</div>
        <div v-if="toast.details" class="px-toast-details px-text-size-3 px-text-medium">{{ toast.details }}</div>
      </div>
    </transition-group>
  </div>
</template>

<script>
import { TOAST_SHOW_REQUEST } from "@/composables/toast-composable";
import { globalEventBus } from "@/event-bus";
import _ from 'lodash';

export default {
  name: "PxToastContainer",
  data() {
    return {
      toasts: [],
      totalCount: 0
    }
  },
  mounted() {
    globalEventBus.on(TOAST_SHOW_REQUEST, this.onToastShowRequest.bind(this));
  },
  methods: {
    onToastShowRequest(config) {
      const index = this.totalCount++;
      config = {
        ...config,
        timeout: config.timeout ?? 5000,
        globalIndex: index
      };
      this.toasts.push(config);
      global.setTimeout(() => this.removeToast(index), config.timeout);
    },
    removeToast(globalIndex) {
      const toast = this.toasts.find(toast => toast.globalIndex === globalIndex);
      if (toast) {
        this.toasts = _.without(this.toasts, toast);
      }
    }
  }
}
</script>

<style scoped>
  .px-toast-container {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1000;
    pointer-events: none;
  }
  .px-toast {
    --px-toast-background-color: var(--px-accent-color);
    --px-toast-color: var(--px-accent-color-text);
    margin-top: var(--px-margin-spacing);
    border-radius: 5px;
    background-color: var(--px-toast-background-color);
    color: var(--px-toast-color);
    padding: var(--px-margin-spacing);
    max-width: 20em;
    min-width: 8em;
  }
  .px-toast-info {
    --px-toast-background-color: var(--px-accent-color-3);
    --px-toast-color: var(--px-accent-color-text-highlight);
  }
  .px-toast-warn {
    --px-toast-background-color: var(--px-accent-color);
    --px-toast-color: var(--px-accent-color-text);
  }
  .px-toast-error {
    --px-toast-background-color: var(--px-accent-color-2);
    --px-toast-color: var(--px-accent-color-text-highlight);
  }
  .px-toast-details {
    margin-top: var(--px-margin-spacing);
  }

  .px-toast-transition-enter-active,
  .px-toast-transition-leave-active {
    transition: all 0.2s ease;
  }

  .px-toast-transition-enter-from,
  .px-toast-transition-leave-to {
    opacity: 0;
    transform: translateX(40px);
  }

  .px-toast-transition-enter-to,
  .px-toast-transition-leave-from {
    opacity: 1;
    transform: none;
  }
</style>