<template>
  <px-config-object :options="compositeOptions" :config-description="generalPrefsConfigDescription" />
</template>

<script lang="ts">
import PxConfigObject from '@/components/config/config-object.vue';
import { OptionsObject } from '@/electron/options/options';
import { Preferences } from '@/electron/api/preferences-symbols';
import { ConfigPropertyDescription } from '@/electron/config/config';
import { LogLevel } from '@/electron/log/logger';
import { PostRating } from '@/electron/service/service';

interface GeneralPrefsConfig {
  hiResThumbnails: boolean,
  logLevel: LogLevel,
  ratingFilter?: PostRating
}

const generalPrefsConfigDescription: ConfigPropertyDescription<GeneralPrefsConfig> = {
  type: 'object',
  label: 'General',
  children: {
    hiResThumbnails: {
      type: 'boolean',
      label: 'Enable high-resolution thumbnails'
    },
    logLevel: {
      type: 'string',
      label: 'Logging threshold',
      editor: {
        type: 'combobox',
        options: [{
          label: 'Error',
          value: 'ERROR'
        }, {
          label: 'Warning',
          value: 'WARN'
        }, {
          label: 'Information',
          value: 'INFO'
        }, {
          label: 'Debug',
          value: 'DEBUG'
        }, {
          label: 'Trace',
          value: 'TRACE'
        }]
      }
    },
    ratingFilter: {
      type: 'string',
      label: 'Rating filter',
      editor: {
        type: 'combobox',
        options: [{
          label: 'No filter',
          value: undefined
        }, {
          label: 'Safe',
          value: 's'
        }, {
          label: 'Questionable',
          value: 'q'
        }, {
          label: 'Explicit',
          value: 'e'
        }]
      }
    }
  }
}

export default {
  name: 'px-general-preferences-view',

  components: {
    PxConfigObject
  },

  props: {
    options: Object
  },

  setup(props: { options: OptionsObject<Preferences> }) {
    const compositeOptions = new OptionsObject<GeneralPrefsConfig>(),
      hiResOption = props.options.ensureChild('gallery', { hiResThumbnails: false, ratingFilter: 'e' }).getChild('hiResThumbnails')!,
      logLevelOption = props.options.ensureChild('logging', { threshold: 'INFO' }).ensureChild('threshold', 'INFO'),
      ratingOption = props.options.ensureChild('gallery', { hiResThumbnails: false, ratingFilter: 'e' }).getChild('ratingFilter')!;

    compositeOptions.adoptChild('hiResThumbnails', hiResOption);
    compositeOptions.adoptChild('logLevel', logLevelOption);
    compositeOptions.adoptChild('ratingFilter', ratingOption)

    return {
      generalPrefsConfigDescription,
      compositeOptions,
      ratingOption
    };
  }
}
</script>

<style scoped>

</style>