<template>
  <div class="px-home-screen-preferences px-home-screen-preferences-container">
    <div class="px-home-screen-list-container px-flex-1">
      <px-list v-model:items="homeScreenItems" item-key="key" v-model:selection="selectedItem">
        <template #item-template="{ item }">
          {{item.options.getChild('title').currentValue}}
        </template>
      </px-list>
      <div class="px-home-screen-list-container-buttons">
        <px-button icon-cls="px-icon-outline-plus" flat icon-only @click="onAddItemClick" />
        <px-button icon-cls="px-icon-outline-minus" flat icon-only @click="onRemoveItemClick" />
      </div>
    </div>

    <px-config-object class="px-flex-2" v-if="selectedItem && selectedItem.config" :config-description="selectedItem.config" :options="selectedItem.options" />
    <div class="px-flex-2" v-else-if="!selectedItem">
      Select an item from the list
    </div>
    <div class="px-flex-2" v-else>
      Unsupported description format
    </div>

    <teleport to="#px-overlay-target">
      <px-home-screen-item-dialog ref="item-editor" @save="onItemEditorSave" />
    </teleport>
  </div>
</template>

<script lang="ts">
import { Options, OptionsObject } from '@/electron/options/options';
import PxConfigObject from '@/components/config/config-object.vue';
import { ref, watch } from 'vue';
import { ServiceDescriptorConfigInfo } from '@/electron/api/service-symbols';
import { getServiceDescriptorConfigs } from '@/api/service';
import _ from 'lodash';
import { Preferences } from '@/electron/api/preferences-symbols';
import PxList from '@/components/common/list.vue';
import { ServiceHomeScreenItemOptions } from '@/electron/service/service';
import PxButton from '@/components/common/button.vue';
import PxHomeScreenItemDialog from '@/components/preferences/home-screen-item-dialog.vue';

export default {
  name: 'px-home-screen-preferences-view',

  components: {
    PxHomeScreenItemDialog,
    PxButton,
    PxList,
    PxConfigObject
  },

  props: {
    /** @type {OptionsObject<Preferences.home>} */
    options: Object
  },

  // eslint-disable-next-line no-unused-vars
  setup(props: { readonly options: OptionsObject<Preferences['home']> }) {
    const serviceDescriptorConfigs = ref<Record<string, ServiceDescriptorConfigInfo | undefined>>(),
      homeScreenItems = ref(),
      itemEditor = ref(),
      addItem = ref(),
      selectedItem = ref(),

      publishState = () => {
        props.options?.setChildValue('items', homeScreenItems.value.map((x: { options: Options<ServiceHomeScreenItemOptions> }) => x.options.currentValue))
      };

    watch(homeScreenItems, publishState);

    getServiceDescriptorConfigs().then(x => serviceDescriptorConfigs.value = x);

    watch(serviceDescriptorConfigs, value => {
      const descriptions = value;
      if (!descriptions) {
        return null;
      }
      const optionsRoot = props.options?.getChild('items');

      addItem.value = (item: ServiceHomeScreenItemOptions) => {
        const options = new OptionsObject(item);
        options.deepValueSubject.subscribe(publishState);

        if (_.isString(item.descriptor)) {
          return {
            key: item.title,
            config: null
          };
        }

        const configDescription = descriptions[item.descriptor.serviceName];
        if (!configDescription) {
          return {
            key: item.title,
            config: null,
            options: options
          };
        }

        homeScreenItems.value = [...homeScreenItems.value, {
          key: item.title,
          config: {
            type: 'object',
            label: 'Home screen item',
            children: {
              title: {
                type: 'string',
                label: 'Title'
              },
              // @ts-ignore
              descriptor: !_.isString(item.descriptor) && configDescription ? configDescription.descriptions[item.descriptor[configDescription.discriminator]] : null
            }
          },
          options: options
        }];
      }

      homeScreenItems.value = [];
      optionsRoot?.currentValue?.forEach(addItem.value);
    });

    const onAddItemClick = () => {
      itemEditor.value.show();
    };

    const onRemoveItemClick = () => {
      const matchingItem = homeScreenItems.value?.find((x: any) => x.key === selectedItem.value?.key);
      if (matchingItem) {
        homeScreenItems.value = _.without(homeScreenItems.value, matchingItem);
      }
    };

    const onItemEditorSave = (item: ServiceHomeScreenItemOptions) => {
      addItem.value(item);
    };

    return {
      serviceDescriptorConfigs,
      homeScreenItems,
      'item-editor': itemEditor,
      onAddItemClick,
      onRemoveItemClick,
      onItemEditorSave,
      selectedItem
    };
  }
}
</script>

<style scoped>
  .px-home-screen-preferences-container {
    display: flex;
  }

  .px-home-screen-preferences-container > :first-child {
    margin-right: calc(var(--px-margin-spacing) * 2);
  }

  .px-home-screen-list-container {
    display: flex;
    flex-direction: column;
  }

  .px-home-screen-list-container > .px-list {
    flex: 1;
  }

  .px-home-screen-list-container-buttons {
    margin-top: var(--px-margin-spacing);
  }

  .px-flex-1 {
    flex: 1;
  }

  .px-flex-2 {
    flex: 2;
  }
</style>