<template>
  <div class="px-form-vertical">
    <px-text-field label="Title" v-model:value="title" />
    <px-service-descriptor-view ref="serviceDescriptorView" />
  </div>
</template>

<script>
import PxTextField from '../common/text-field.vue';
import PxServiceDescriptorView from './service-descriptor-view.vue';
export default {
  name: 'px-home-screen-item-view',

  components: {
    PxServiceDescriptorView,
    PxTextField
  },

  data() {
    return {
      title: null
    }
  },

  methods: {
    getConfig() {
      return {
        title: this.title,
        descriptor: this.$refs.serviceDescriptorView.getConfig()
      };
    }
  }
}
</script>

<style scoped>

</style>