<template>
  <px-overlay ref="overlay">
    <template #header>
      Home screen item
    </template>

    <px-home-screen-item-view class="px-home-screen-dialog-content" ref="editor" />

    <template #footer>
      <px-button text="Save" @click="onSaveClick" />
    </template>
  </px-overlay>
</template>

<script>
import PxOverlay from '../layout/overlay.vue';
import PxButton from '../common/button.vue';
import PxHomeScreenItemView from './home-screen-item-view.vue';

export default {
  name: 'px-home-screen-item-dialog',

  components: {
    PxHomeScreenItemView,
    PxButton,
    PxOverlay
  },

  emits: {
    'save': null
  },

  methods: {
    show() {
      this.$refs.overlay.show();
    },

    hide() {
      this.$refs.overlay.hide();
    },

    onSaveClick() {
      const config = this.$refs.editor.getConfig();
      if (config) {
        this.$emit('save', config);
        this.hide();
      }
    }
  }
}
</script>

<style scoped>
  .px-home-screen-dialog-content {
    min-width: 300px;
    min-height: 200px;
  }
</style>