<template>
  <px-overlay fullscreen ref="overlay">
    <template #header>
      Preferences
    </template>

    <px-preferences-view ref="preferences" />

    <template #footer>
      <px-button text="Save" @click="save"/>
    </template>
  </px-overlay>
</template>

<script>
import PxPreferencesView from '@/components/preferences/preferences-view.vue';
import PxOverlay from '@/components/layout/overlay.vue';
import PxButton from "@/components/common/button.vue";
import { useToasts } from "@/composables/toast-composable";

export default {
  name: 'px-preferences-dialog',

  components: {
    PxButton,
    PxOverlay,
    PxPreferencesView
  },

  setup() {
    const { showInfoToast, showErrorToast } = useToasts();
    return {
      showInfoToast,
      showErrorToast
    };
  },

  methods: {
    show() {
      this.$refs.overlay.show();
    },

    hide() {
      this.$refs.overlay.hide();
    },

    async save() {
      try {
        await this.$refs.preferences.save();
        this.showInfoToast({
          summary: 'Preferences saved',
          timeout: 1000
        });
        this.hide();
      }
      catch (e) {
        this.showErrorToast({
          summary: 'Failed to save preferences',
          details: e.message
        });
      }
    }
  }
}
</script>

<style scoped>

</style>