<template>
  <div class="px-preferences-view">
    <px-tab-strip :tabs="['General', 'Home']" v-model:active-tab="activeTab" />
    <component v-if="tabMap[activeTab] && tabMap[activeTab].options" :is="tabMap[activeTab].component" :options="tabMap[activeTab].options" />
  </div>
</template>

<script lang="ts">
import { ref } from "vue";
import { getCurrentPreferences, updatePreferences } from '@/api/preferences';
import { computed } from '@vue/reactivity';
import { OptionsObject } from '@/electron/options/options';
import { Preferences } from '@/electron/api/preferences-symbols';
import PxHomeScreenPreferencesView from '@/components/preferences/home-screen-preferences-view.vue';
import PxGeneralPreferencesView from '@/components/preferences/general-preferences-view.vue';
import PxTabStrip from '@/components/common/tab-strip.vue';

export default {
  name: 'px-preferences-view',

  components: {
    PxTabStrip,
    PxHomeScreenPreferencesView,
    PxGeneralPreferencesView
  },

  setup() {
    const preferences = ref<Preferences | null>(),
      options = computed(() => preferences.value == null ? null : new OptionsObject(preferences.value)),
      homeOptions = computed(() => options.value?.getChild('home')),
      activeTab = ref(),
      tabMap = computed(() => ({
        General: {
          component: 'px-general-preferences-view',
          // @ts-ignore
          options: options.value
        },
        Home: {
          component: 'px-home-screen-preferences-view',
          options: homeOptions.value
        }
      }));

    getCurrentPreferences().then(x => preferences.value = x);

    const save = () => {
      if (!options?.value?.currentValue) {
        return Promise.reject('No options');
      }
      return updatePreferences(options.value.currentValue);
    };

    return {
      preferences,
      options,
      homeOptions,
      save,
      activeTab,
      tabMap
    };
  }
}
</script>

<style scoped>
  .px-preferences-view {
    display: flex;
    flex-direction: column;
  }
  .px-preferences-view > :last-child {
    margin-top: var(--px-margin-spacing);
    flex: 1;
  }
</style>