<template>
  <div class="px-service-descriptor-view px-form-vertical">
    <px-combobox v-if="services" label="Service" :items="services" key-field="title" value-field="name" v-model:selected-item="selectedService" >
      <template #item-entry-template="{ item }">
        {{item.title}}
      </template>
    </px-combobox>

    <px-combobox v-if="selectedServiceDescriptorInfo" label="Descriptor type" :items="Object.values(selectedServiceDescriptorInfo.descriptions)" key-field="label" value-field="self" v-model:selected-item="selectedDescriptorConfig">
      <template #item-entry-template="{ item }">
        {{item.label}}
      </template>
    </px-combobox>

    <px-config-object v-if="selectedDescriptorConfig" :config-description="selectedDescriptorConfig" :options="options" />
  </div>
</template>

<script lang="ts">
import PxCombobox from '@/components/common/combobox.vue';
import PxConfigObject from '@/components/config/config-object.vue';
import { ref, watch } from 'vue';
import { getServiceDescriptorConfigs, getServiceList } from '@/api/service';
import { computed } from '@vue/reactivity';
import { Options, OptionsObject } from '@/electron/options/options';
import _ from 'lodash';
import { ConfigPropertyDescription } from '@/electron/config/config';

export default {
  name: 'px-service-descriptor-view',

  components: {
    PxConfigObject,
    PxCombobox
  },

  setup() {
    const services = ref(),
      selectedService = ref(),
      selectedDescriptorConfig = ref(),
      descriptors = ref(),
      options = ref();

    const selectedServiceDescriptorInfo = computed(() => {
      const serviceName = selectedService.value,
        serviceDescriptors = descriptors.value?.[serviceName];

      if (!serviceName || !serviceDescriptors) {
        return null;
      }

      return {
        ...serviceDescriptors,
        descriptions: _.mapValues(serviceDescriptors.descriptions, (x, k) => ({
          ...x,
          self: {
            ...x,
            key: k
          }
        }))
      };
    });

    watch(selectedServiceDescriptorInfo, () => {
      selectedDescriptorConfig.value = null;
    });

    watch(selectedDescriptorConfig, config => {
      if (!config) {
        options.value = null;
        return;
      }

      options.value = new OptionsObject({});

      const createOptions = <T extends object>(root: OptionsObject<T>, config: ConfigPropertyDescription<T>) => {
        for (const key in config.children) {
          const typedKey = key as keyof T;
          // @ts-ignore
          const childConfig: ConfigPropertyDescription<any> = config.children[typedKey];

          switch (childConfig.type) {
            case 'object': {
              // @ts-ignore
              const childOptions: OptionsObject<object> = root.ensureChild(typedKey, {});
              createOptions(childOptions, childConfig);
              break;
            }
            default: {
              const childOption = new Options();
              // @ts-ignore
              root.adoptChild(typedKey, childOption);
              break;
            }
          }
        }
      }

      createOptions(options.value, config);
    });

    getServiceList().then(x => services.value = x);
    getServiceDescriptorConfigs().then(x => descriptors.value = x);

    const getConfig = () => {
      const serviceDescriptor = options.value?.currentValue;
      if (!serviceDescriptor) {
        return null;
      }
      serviceDescriptor[selectedServiceDescriptorInfo.value.discriminator] = selectedDescriptorConfig.value.key;
      serviceDescriptor.serviceName = selectedService.value;
      return serviceDescriptor;
    }

    return {
      services,
      selectedService,
      selectedDescriptorConfig,
      selectedServiceDescriptorInfo,
      options,
      getConfig
    };
  }
}
</script>

<style scoped>
</style>