<template>
  <div class="px-download-list px-padding-1">
    <div v-for="download in downloads" :key="download.post.url" class="px-download-list-item px-text-size-3">
      <div class="px-download-list-item-preview" :style="{
        backgroundImage: `url(${getPreviewUrl(download)})`
      }">
      </div>
      <div class="px-download-list-item-info">
        <div class="px-download-list-item-title">{{ download.filename || download.post.url }}</div>
        <span>{{ getFormattedStatus(download) }}</span>
        <span v-if="download.status === 'COMPLETE'"> - {{ getFormattedTotalSize(download) }}</span>
        <span v-else-if="download.status !== 'PENDING'"> - {{ getFormattedDownloadedSize(download) }} / {{ getFormattedTotalSize(download) }}</span>
        <span v-if="getProgressInfo(download)"> at {{ getProgressInfo(download).speed }}, time left: {{ getProgressInfo(download).timeLeft }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import useIpcEvents from "@/composables/ipc-event-composable";
import { getDownloadList } from "@/api/download";
import { formatFileSize, formatTime, prettifyEnumValue } from "@/electron/util/common-util";
import { getCachePassthroughUrl } from "@/electron/util/post-util";
import { useDownloads } from "@/composables/downloads-composable";
import * as _ from 'lodash';

const statusOrder = {
  'IN_PROGRESS': 1,
  'COMPLETE': 2
};

const statusToWeight = status => {
  return statusOrder[status] || 99;
}

const statusSorter = (a, b) => {
  return statusToWeight(a.status) - statusToWeight(b.status);
}

export default {
  name: 'DownloadsView',
  setup() {
    const { onIpcEvent } = useIpcEvents();
    const { downloads } = useDownloads(onIpcEvent, statusSorter);
    return {
      onIpcEvent,
      downloads
    }
  },
  methods: {
    getFormattedDownloadedSize(download) {
      return download.bytesDownloaded != null ? formatFileSize(download.bytesDownloaded) : 'Unknown';
    },
    getFormattedTotalSize(download) {
      return download.bytesTotal != null ? formatFileSize(download.bytesTotal) : 'Unknown';
    },
    getFormattedStatus(download) {
      return prettifyEnumValue(download.status);
    },
    getProgressInfo(download) {
      if (download.rollingDownloadSpeed && download.rollingDownloadSpeed.length > 0) {
        const avgSpeed = _.mean(download.rollingDownloadSpeed),
          formattedSpeed = formatFileSize(avgSpeed) + '/s',
          bytesLeft = download.bytesTotal - download.bytesDownloaded,
          timeLeft = bytesLeft / avgSpeed;
        return {
          speed: formattedSpeed,
          timeLeft: formatTime(timeLeft)
        };
      } else {
        return null;
      }
    },
    getPreviewUrl(download) {
      return download.post.thumbUrl && getCachePassthroughUrl(download.post.thumbUrl);
    },
    async loadDownloads() {
      this.downloads = await getDownloadList();
    }
  }
}
</script>

<style scoped>
  .px-download-list {
    overflow-y: scroll;
  }
  .px-download-list-item {
    display: flex;
  }
  .px-download-list-item:not(:first-child) {
    margin-top: var(--px-margin-spacing);
  }
  .px-download-list-item-preview {
    flex-basis: 100px;
    background-position: center;
  }
  .px-download-list-item-info {
    flex: 1;
    margin-left: var(--px-margin-spacing);
    overflow-x: hidden;
  }
  .px-download-list-item-title {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>