<template>
  <div id="px-overlay-target"></div>
  <px-sidebar @expand-toggle="onSidebarExpandToggle" />
  <div :class="{ 'px-app-content-container': true, 'px-app-content-shadowed': sidebarExpanded && screenLayout.orientation === 'VERTICAL' }">
    <px-gallery-search-bar
        :initial-persistent="true" />
    <router-view class="px-app-content" v-slot="{ Component }">
      <transition name="px-transition-fade-blur">
        <component :is="Component" />
      </transition>
    </router-view>
    <div class="px-app-content-shadow-mask"></div>
  </div>
  <px-context-menu />
  <px-toast-container />
  <teleport to="#px-overlay-target">
    <px-confirmation-dialog ref="confirmationDialog" @action="onConfirmationResult" />
  </teleport>
</template>

<script>
import PxSidebar from '@/components/sidebar/sidebar.vue';
import PxConfirmationDialog from '@/components/common/confirmation-dialog.vue';
import { globalEventBus } from '@/event-bus';
import { GALLERY_SEARCH, OMNIBOX_SUGGESTION_SELECT } from '@/ui-events';
import { getServiceSearchPath } from '@/api/service';
import PxContextMenu from "@/components/common/context-menu.vue";
import PxToastContainer from "@/components/common/toast-container.vue";
import PxGallerySearchBar from '@/components/gallery/gallery-search-bar.vue';
import { providePreferences, useIpcPreferences } from "@/composables/preferences-composable";
import useIpcEvents from "@/composables/ipc-event-composable";
import { useLogger } from "@/composables/logging-composable";
import { providePlatform, provideScreenLayout } from "@/composables/platform-composable";
import { ref } from "vue";
import { provideConfirmationDialog } from "@/composables/confirmation-dialog-composable";
import { provideGalleryContext } from "@/composables/gallery-context-composable";

export default {
  name: 'App',
  components: {
    PxToastContainer,
    PxContextMenu,
    PxSidebar,
    PxGallerySearchBar,
    PxConfirmationDialog
  },
  data: function () {
    return {
      globalBus: null,
      activeGalleryPath: null,
      activeGalleryPathType: null,
      activeGalleryDescriptor: null,
      sidebarExpanded: false
    };
  },
  setup() {
    const { onIpcEvent } = useIpcEvents(),
        { valueRef: prefs } = useIpcPreferences(onIpcEvent),
        { logger } = useLogger(undefined, prefs),
        { platform } = providePlatform(),
        { screenLayout } = provideScreenLayout(),
        showConfirmationDialogFn = ref(),
        { onConfirmationResult } = provideConfirmationDialog(showConfirmationDialogFn),
        { context: galleryContext, updateContext: updateGalleryContext } = provideGalleryContext();
    providePreferences(prefs);
    return {
      logger,
      platform,
      screenLayout,
      showConfirmationDialogFn,
      onConfirmationResult,
      galleryContext,
      updateGalleryContext
    };
  },
  watch: {
    screenLayout(value, prevValue) {
      const target = document.body.querySelector('#app');

      if (value.size !== prevValue?.size) {
        if (prevValue?.size) {
          target.classList.remove(`px-app-screen-${prevValue.size.toLocaleLowerCase()}`);
        }
        target.classList.add(`px-app-screen-${value.size.toLocaleLowerCase()}`);
      }

      if (value.orientation !== prevValue?.orientation) {
        if (prevValue?.orientation) {
          target.classList.remove(`px-app-screen-${prevValue.orientation.toLocaleLowerCase()}`);
        }
        target.classList.add(`px-app-screen-${value.orientation.toLocaleLowerCase()}`);
      }
    },
    galleryContext(value) {
      this.onActiveGalleryChange(value);
    }
  },
  mounted() {
    this.globalBus = globalEventBus;
    this.globalBus.on(GALLERY_SEARCH, (...args) => this.onGallerySearch(...args));
    this.globalBus.on(OMNIBOX_SUGGESTION_SELECT, (...args) => this.onOmniboxSuggestionSelect(...args));

    this.showConfirmationDialogFn = this.showConfirmationDialog.bind(this);

    const initPlatform = () => {
      const plat = this.platform;
      document.getElementById('app').classList.add(`px-app-${(plat || 'UNKNOWN').toLowerCase()}`);
    }

    initPlatform();
  },
  methods: {
    onActiveGalleryChange(context) {
      if (!context) {
        this.logger.debug(`Clearing active gallery`);
        return;
      }
      const { path, pathType, descriptor, items, page } = context;
      this.logger.debug(`Changing active gallery to: ${JSON.stringify(context)}`);
      this.$router.push({
        name: 'gallery',
        params: {
          path: path,
          descriptor: btoa(JSON.stringify(descriptor || null)),
          items: JSON.stringify(items || null),
          page: page || null,
          pathType
        }
      });
    },
    async onGallerySearch(path, query) {
      const searchPath = await getServiceSearchPath(path, query);
      if (searchPath != null) {
        this.updateGalleryContext({
          pathType: 'search',
          path: searchPath,
          descriptor: {
            query: query
          }
        });
      }
    },
    /**
     * @param suggestion {OmniboxResult}
     */
    onOmniboxSuggestionSelect(suggestion) {
      if (suggestion.resultType === 'SERVICE_PAGE') {
        this.updateGalleryContext({
          pathType: 'service',
          path: suggestion.pagePath
        });
      } else if (suggestion.resultType === 'COLLECTION_SEARCH') {
        this.updateGalleryContext(({
          pathType: 'service',
          path: `/collection/${suggestion.collectionName}/search:${suggestion.query}`
        }))
      }
    },

    onSidebarExpandToggle(expanded) {
      this.sidebarExpanded = expanded;
    },

    showConfirmationDialog(title, body, buttons) {
      this.$refs.confirmationDialog.show(title, body, buttons);
    }
  }
};
</script>

<style>
@font-face {
  font-family: Quicksand;
  src: url("~@/assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  src: url("~@/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("~@/assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 350;
}

@font-face {
  font-family: Poppins;
  src: url("~@/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --px-header-color: gray;
  --px-margin-spacing: 8px;
  --px-text-size-base: 15px;

  --px-base-background-color: #202020;
  --px-base-text-color: #A0A0A0;

  --px-background-color-ligher: #282828;
  --px-card-border-color: #404040;

  --px-base-text-color-emphasize: #C0C0C0;
  --px-text-color-acrylic: #e0e0e0;

  --px-accent-color: #f1d205;
  --px-accent-color-acrylic: rgba(238, 207, 0, 0.4);
  --px-accent-color-text: black;
  --px-accent-color-highlight: rgba(238, 199, 5, 0.84);
  --px-accent-color-text-highlight: #f1f1f1;

  --px-accent-color-2: #e72274;
  --px-accent-color-2-acrylic: #e72274;
  --px-accent-color-2-background: #e7227432;
  --px-accent-color-3: #29b9a3;

  --px-overlay-border-radius: 8px;
  --px-round-radius-1: 6px;

  color: var(--px-base-text-color);

  display: flex;

  background-color: var(--px-base-background-color);

  max-width: 100%;
  max-height: 100%;
}

#app.px-app-screen-small {
  --px-margin-spacing: 10px;
  --px-text-size-base: 20px;
}

#app.px-app-macos {
  background-color: transparent;
}

/* Content */

.px-app-content-container .px-app-content-shadow-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  background-color: black;
  z-index: 100;
}

.px-app-content-container.px-app-content-shadowed .px-app-content-shadow-mask {
  opacity: 0.6;
  pointer-events: revert;
}

/* Scrollbars */

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--px-base-text-color);
}

/* Utility classes */

.px-margin-vt-1 {
  margin-top: var(--px-margin-spacing);
  margin-bottom: var(--px-margin-spacing);
}

.px-margin-hz-1 {
  margin-left: var(--px-margin-spacing);
  margin-right: var(--px-margin-spacing);
}

.px-margin-1 {
  margin: var(--px-margin-spacing);
}

.px-margin-vt-2 {
  margin-top: calc(var(--px-margin-spacing) * 2);
  margin-bottom: calc(var(--px-margin-spacing) * 2);
}

.px-margin-hz-2 {
  margin-left: calc(var(--px-margin-spacing) * 2);
  margin-right: calc(var(--px-margin-spacing) * 2);
}

.px-margin-2 {
  margin: calc(var(--px-margin-spacing) * 2);
}

.px-margin-hz-4 {
  margin-left: calc(var(--px-margin-spacing) * 4);
  margin-right: calc(var(--px-margin-spacing) * 4);
}

.px-padding-1 {
  padding: var(--px-margin-spacing);
}

.px-padding-vt-1 {
  padding-top: var(--px-margin-spacing);
  padding-bottom: var(--px-margin-spacing);
}

.px-padding-hz-1 {
  padding-left: var(--px-margin-spacing);
  padding-right: var(--px-margin-spacing);
}

.px-padding-2 {
  padding: calc(var(--px-margin-spacing) * 2);
}

.px-padding-vt-2 {
  padding-top: calc(var(--px-margin-spacing) * 2);
  padding-bottom: calc(var(--px-margin-spacing) * 2);
}

.px-padding-hz-2 {
  padding-left: calc(var(--px-margin-spacing) * 2);
  padding-right: calc(var(--px-margin-spacing) * 2);
}

.px-padding-hz-4 {
  padding-left: calc(var(--px-margin-spacing) * 4);
  padding-right: calc(var(--px-margin-spacing) * 4);
}
.px-app-screen-small .px-padding-hz-4 {
  padding-left: calc(var(--px-margin-spacing) * 2);
  padding-right: calc(var(--px-margin-spacing) * 2);
}

.px-text-size-1 {
  font-size: calc(var(--px-text-size-base) * 0.6);
}

.px-text-size-3 {
  font-size: calc(var(--px-text-size-base) * 0.85);
}

.px-text-size-5 {
  font-size: var(--px-text-size-base);
}

.px-text-size-7 {
  font-size: calc(var(--px-text-size-base) * 1.35);
}

.px-text-size-9 {
  font-size: calc(var(--px-text-size-base) * 1.5);
}

.px-text-header-1 {
  font-size: calc(var(--px-text-size-base) * 1.5);
  font-variation-settings: 'wght' 700;
  font-weight: 700;
  padding-top: var(--px-margin-spacing);
  padding-bottom: var(--px-margin-spacing);
}

.px-text-header-hero {
  font-size: calc(var(--px-text-size-base) * 3);
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  padding-top: calc(var(--px-margin-spacing) * 2);
  padding-bottom: calc(var(--px-margin-spacing) * 2);
}
.px-app-screen-small .px-text-header-hero {
  font-size: calc(var(--px-text-size-base) * 2.2);
}

.px-text-ultralight {
  font-variation-settings: 'wght' 150;
  font-weight: 150;
}

.px-text-light {
  font-variation-settings: 'wght' 350;
  font-weight: 350;
}

.px-text-medium {
  font-variation-settings: 'wght' 500;
  font-weight: 500;
}

.px-text-semibold {
  font-variation-settings: 'wght' 700;
  font-weight: 700;
}

.px-elevated {
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.2);
}

.px-elevated-7 {
  box-shadow: 0 0 48px 12px rgba(0, 0, 0, 0.3);
}

/* Acrylic */

.px-acrylic {
  --px-acrylic-color: rgba(0, 0, 0, 0.425);
  --px-acrylic-blur-radius: 9px;
  --px-acrylic-border-color: rgba(0, 0, 0, 0.15);
  background-color: var(--px-acrylic-color);
  background-image: url("~@/assets/noise_1t.png");
  background-repeat: round;
  background-size: 80px;
  backdrop-filter: blur(var(--px-acrylic-blur-radius));
}

.px-acrylic-border-top {
  border-top: 1px var(--px-acrylic-border-color) solid;
}

.px-acrylic-border-bottom {
  border-bottom: 1px var(--px-acrylic-border-color) solid;
}

.px-app-content-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--px-base-background-color);
  max-width: 100%;
  max-height: 100%;
}

.px-app-content {
  flex: 1;
  box-sizing: border-box;
}

/* Transitions */

.px-transition-fade-blur-enter-to,
.px-transition-fade-blur-leave-from {
  opacity: 1;
  filter: none;
}

.px-transition-fade-blur-enter-from,
.px-transition-fade-blur-leave-to {
  opacity: 0;
  filter: blur(5px);
}

.px-transition-fade-blur-enter-active,
.px-transition-fade-blur-leave-active {
  transition: all 0.2s ease;
}

.px-transition-fade-blur-enter-active {
  transition-delay: 0.2s;
}

/* Rounded */

.px-rounded-1 {
  border-radius: var(--px-round-radius-1);
}

/* Form */

.px-form-vertical {
  display: flex;
  flex-direction: column;

  --px-form-field-side-offset: 6px;
}

.px-form-vertical > :not(:first-child) {
  margin-top: var(--px-margin-spacing);
}
</style>
