<template>
  <px-overlay ref="overlay" :content-classes="['px-collection-editor', 'px-form-vertical']">
    <template v-slot:header>
      {{ editing ? 'Modify' : 'Create a'}} collection {{ editing ? name : '' }}
    </template>
    <px-text-field
      label="Collection name"
      v-model:value="name">
    </px-text-field>
    <px-text-field
        label="Description"
        :multiline="true"
        v-model:value="description">
    </px-text-field>
    <px-switch label="Download posts automatically" v-model:value="download" />
    <template v-slot:footer>
      <px-button @click="onCreateClick" :text="editing ? 'Save' : 'Create'" class="px-button-accent-b"></px-button>
    </template>
  </px-overlay>
</template>

<script>
import PxOverlay from "@/components/layout/overlay.vue";
import { createCollection, modifyCollection } from "@/api/storage.ts";
import PxButton from "@/components/common/button.vue";
import PxTextField from "@/components/common/text-field.vue";
import { useToasts } from "@/composables/toast-composable";
import PxSwitch from '@/components/common/switch.vue';
export default {
  name: "px-collection-create-dialog",
  components: { PxSwitch, PxTextField, PxButton, PxOverlay},
  data: function() {
    return {
      name: null,
      description: null,
      download: true,
      editedCollection: null
    };
  },
  computed: {
    editing() {
      return !!this.editedCollection;
    }
  },
  setup() {
    const { showErrorToast } = useToasts();
    return {
      showErrorToast
    };
  },
  methods: {
    hide() {
      this.$refs.overlay.hide();
    },
    show(collection) {
      this.editedCollection = collection;
      if (collection) {
        this.name = collection.name;
        this.description = collection.description;
        this.download = collection.download;
      } else {
        this.clearData();
      }
      this.$refs.overlay.show();
    },
    clearData() {
      this.name = null;
      this.description = null;
    },
    async onCreateClick() {
      const collection = {
        syncEnabled: false,
        ...this.editedCollection,
        name: this.name,
        description: this.description,
        download: this.download
      };
      try {
        if (this.editing) {
          await modifyCollection(collection);
        } else {
          await createCollection(collection);
        }
        this.hide();
        this.clearData();
      }
      catch (e) {
        this.showErrorToast({
          summary: 'Failed to save collection',
          details: e.toString()
        });
      }
    }
  }
}
</script>

<style>
  .px-collection-editor {
    min-width: 360px;
  }
</style>